$brand-login-outline: #E6E5E3;
$brand-login-modal: #FAF9F7;

//Body//

#a0-lock.a0-theme-default * {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#a0-lock.a0-theme-default .a0-header h1, #a0-lock.a0-theme-default .a0-forgot-pass {
    color: $brand-primary !important;
}

// Container //

// #a0-lock.a0-theme-default .a0-panel { 
//     width: 500px !important;
// }

#a0-lock.a0-theme-default .a0-panel {
    box-shadow: none !important;
}

#a0-lock.a0-theme-default .a0-panel {
    width: 100% !important;
}


// Header // 

#a0-lock.a0-theme-default .a0-panel .a0-header {
    min-height: 20px !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-bg-gradient {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-close {
    display: none;
}

#a0-lock.a0-theme-default .a0-header h1 {
    display: none;
}

// Error //

#a0-lock.a0-theme-default .a0-panel .a0-error {
           padding-left: 10px !important;
           padding-right: 10px !important;
           background-color: $brand-error;
       }

// Forgot Password //

#a0-lock.a0-theme-default .a0-forgot-pass {
    color: $brand-primary !important;
    text-decoration: underline;
}

// Input Box //

#a0-lock.a0-theme-default .a0-emailPassword {
    margin: 0 auto !important;
    width: 75%;
}

#a0-lock.a0-theme-default .a0-input-box {
    background-color: #fff !important;
}

// Submit //

#a0-lock.a0-theme-default .a0-primary {
    background-color: $brand-success !important;
}

// Footer //

#a0-lock.a0-theme-default .a0-panel .a0-footer {
    display: none !important;
}
