.bg-primary-1 {
    background-color: $brand-blue;
}

.bg-primary-2 {
    background-color: $brand-dark-blue;
}

.bg-primary-3 {
    background-color: $brand-yellow;
}

.bg-secondary-1 {
    background-color: $brand-secondary-1;
}

.bg-secondary-2 {
    background-color: $brand-secondary-2;
}

.bg-secondary-3 {
    background-color: $brand-secondary-3;
}

.bg-tint-1 {
    background-color: $brand-tint-1;
}

.bg-tint-2 {
    background-color: $brand-tint-2;
}

.bg-success {
    background-color: $brand-success;
}

.bg-error {
    background-color: $brand-error;
}

.bg-warning {
    background-color: $brand-warning;
}

.colour-palette {
    height: 15vw;
}

.colour-bg-caption {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
}

.colour-bg-caption h4 {
    color: #ffffff;
}

.colour-bg-caption p {
    color: #ffffff;
}