.grid {
    .row {
        margin-bottom: 20px;
    }
    .row .row {
        margin-top: 10px;
        margin-bottom: 0;
    }
    [class*="col-"] {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(51, 153, 219, .2);
        border: 1px solid rgba(51, 153, 219, .3);
    }
}


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }