$brand-login-outline: #E6E5E3;
$brand-login-modal: #FAF9F7;

.modal-login {
    border: 1px solid $brand-login-outline;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.modal-login-close i {
    color: $brand-login-modal;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.modal-login a {
    font-size: 16px !important;
}

.modal-login-close {
    position: absolute;
    right: 25px;
    top: 5px;
}

.modal-login-header {
    margin: 50px 50px 0px 50px;
}

.modal-login-header a {
    font-weight: 400;
}

.modal-login-header a:hover {
    color: $brand-primary !important;
}

.modal-login-header h1, .modal-login-header p {
    color: $brand-primary;
}

.modal-login-header h1 {
    font-size: 2em;
}

.modal-dialog {
    z-index: 1000;
}

.modal-content {
    border-radius: 3px;
}

.modal-body {
        margin: 0;
    padding: 0;
}

.modal-content .modal-login {
    border: 0;
}

.modal-content .modal-login-close {
    position: absolute;
    right: 10px;
    top: -40px;
}

.modal-login-close i:hover {
    color: $brand-login-outline;
}

.modal-exclamation {
    opacity: 0;
}

.modal-exclamation-open {
    opacity: 1;
}

.modal-validate {
    background-color: #fff !important;
}