.sidebar-logo{
    height: 70px;
    line-height: 70px
}

.sidebar-list {
    list-style: none;
    padding: 0;
    background-color: $gray-lighter;
}

.sidebar-list a {
    display: block;
    text-decoration: none;
    padding-left: 20px;
    text-transform: none;
}

.sidebar-btn {
    background-color: #fff;
    color: $brand-blue;
    margin: 0;
    z-index: 5;
    padding: 20px;
    height: 70px;
    position: fixed;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sidebar-arrow {
    background-color: #fff;
    color: $brand-blue;
    margin: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 20px;
    height: 70px;
    position: fixed;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sidebar-arrow:hover {
    color: rgba(51, 153, 219, .5);
}

.sidebar-arrow:focus {
    color: rgba(51, 153, 219, .5);
}

.sidebar-btn:hover {
    color: rgba(51, 153, 219, .5);
}

.sidebar-btn:focus {
    color: rgba(51, 153, 219, .5);
}

.sidebar .nav li, .sidebar .nav a{
    text-decoration: none;
    color: $gray-darker;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.sidebar .nav-stacked>li+li {
    margin-top: 0;
}

.sidebar .nav a{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sidebar .nav a:hover, .sidebar .nav a:focus {
    color: $gray-darker;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}