.theme-light *{
    background-color: #fff;
}

.theme-light {
    box-shadow: none;
    border: 1px solid rgba(0,91,198, 0.5);
    border-radius: 0px;
}

.theme-header {
    color: $brand-primary
}

.theme-dark {
    box-shadow: none;
    border: 1px solid rgba(0,91,198, 0.5);
    border-radius: 0px;
}

.theme-light a {
    color: $brand-primary;
}

.theme-dark *{
    background-color: $brand-primary;
    color: #fff;
}

.theme-light code {
    background-color: $brand-primary;
}

.theme-dark code {
    color: $brand-primary;
    background-color: $brand-secondary;
}

.theme-dark a {
    color: $brand-secondary;
}

code {
    color: #fff;
    background-color: $brand-primary;
    border-radius: 0px;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.4;
}