a {
    text-decoration: underline;
}

code {
    color: #fff;
    background-color: $brand-primary-1;
    border-radius: 0px;
}

.theme-header {
    color: $brand-primary-1;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.4;
}

// .theme-light //

.theme-light *{
    background-color: #fff;
}

.theme-light {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-light a {
    color: $brand-primary-1;
}

.theme-light code {
    background-color: $brand-primary-1;
}

// .theme-dark //

.theme-dark *{
    background-color: $brand-primary-1;
    color: #fff;
}

.theme-dark {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-dark a {
    color: $brand-primary-3;
}

.theme-dark code {
    color: $brand-primary-1;
    background-color: $brand-primary-3;
}

// .theme-warning //

.theme-warning *{
    background-color: $brand-primary-3;
    color: $brand-primary-3-font;
}

.theme-warning {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-warning a {
    color: $brand-primary-3-font;
}

.theme-warning code {
    color: #fff;
    background-color: $brand-primary-3-font;
}

// .theme-error //

.theme-error *{
    background-color: $brand-secondary-1;
    color: #fff;
}

.theme-error {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-error a {
    color: #fff;
}

.theme-error code {
    color: $brand-secondary-1;
    background-color: #fff;
}

// .theme-success //

.theme-success *{
    background-color: $brand-secondary-3;
    color: $brand-secondary-3-font;
}

.theme-success {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-success a {
    color: $brand-secondary-3-font;
}

.theme-success code {
    color: #fff;
    background-color: $brand-secondary-3-font;
}