#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}


#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0px 0 5px -2px #888;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 100;
}

#page-content-wrapper {
    width: 90%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    padding-top: 0;
    margin-right: -200px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    
    #sidebar-wrapper {
        width: 200px;
    }


    #page-content-wrapper {
        padding: 0px 70px;
        position: relative;
    }

    #page-content-wrapper-splash-screen {
        padding: 0px 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}