/*********************
BREAKPOINTS
Example...

  .some-class {
    width: 100%;
    @include bp(md) {
      width:33.3%;
      min-height:290px;
    }
  }

*********************/

 @mixin bp($point) {
   @if $point == lg {
     @media (min-width: $screen-lg) { @content ; }
  }
  @else if $point == md {
     @media (min-width: $screen-md)  { @content ; }
  }
  @else if $point == sm-plus {
     @media (min-width: $screen-sm)  { @content ; }
  }
  @else if $point == sm {
     @media (max-width: $screen-sm)  { @content ; }
  }
  @else if $point == sm-ipad {
     @media (max-width: 767px)  { @content ; }
  }  
  @else if $point == xs {
     @media (min-width: 321px)  { @content ; }
  }
}