$brand-login-outline: #E6E5E3;
$brand-login-modal: #FAF9F7;

//Body//

#a0-lock.a0-theme-default * {
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: transparent !important;
}

#a0-lock.a0-theme-default .a0-header h1, #a0-lock.a0-theme-default .a0-forgot-pass {
    color: $brand-primary !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-error {
    display: none;
}

// Container //

#a0-lock.a0-theme-default .a0-panel {
    box-shadow: none !important;
}

#a0-lock.a0-theme-default .a0-panel {
    width: 100% !important;
}

// Header // 

#a0-lock.a0-theme-default .a0-panel .a0-header {
    min-height: 20px !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-bg-gradient {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-close {
    display: none;
}

#a0-lock.a0-theme-default .a0-header h1 {
    display: none;
}

.modal-exclamation {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-top-header {
    display: none;
}

@media (min-width: 768px) {

    .modal-exclamation {
    display: block;
    }

    #a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content {
    padding: 30px 0px !important;
}

}


// Forgot Password //

#a0-lock.a0-theme-default .a0-forgot-pass {
    color: $brand-primary !important;
    text-decoration: underline;
}

// Input Box //

#a0-lock.a0-theme-default .a0-emailPassword {
    margin: 0 auto !important;
    width: 75%;
}

#a0-lock.a0-theme-default .a0-input-box {
    background-color: #fff !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box i {
    z-index: 1 !important;
}

// Submit //

#a0-lock.a0-theme-default .a0-primary {
    background-color: $gray-lighter !important;
}

#a0-lock.a0-theme-default .a0-primary:hover {
    background-color: $brand-secondary-3 !important;
}

// Footer //

#a0-lock.a0-theme-default .a0-panel .a0-footer {
    display: none !important;
}

// Styleguide Showcase //

.theme-warning #a0-lock.a0-theme-default .a0-primary {
    background-color: darken($brand-primary-3, 10%) !important;
}

.theme-warning #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color: $brand-primary-3-font !important;
}

.theme-warning #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box i {
    color: #222 !important;
}

.theme-error #a0-lock.a0-theme-default .a0-primary {
    background-color: darken($brand-secondary-1, 10%) !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-email input {
    color: #222 !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-password input, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input {
    color: $brand-secondary-1 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-inputs .a0-password {
    margin-top: 20px !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box i, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box i {
    color: #222 !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color: #fff !important;
}

#a0-lock.a0-theme-default .a0-panel #a0-change_password .a0-collapse-reset .a0-instructions {
    display: none;
}