$brand-login-outline: #E6E5E3;
$brand-login-modal: #FAF9F7;
$brand-error-background: #f04848;

/*Body//*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

#a0-lock.a0-theme-default * {
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: transparent !important;
}

#a0-lock.a0-theme-default .a0-header h1,
#a0-lock.a0-theme-default .a0-forgot-pass {
    color: $brand-blue !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-error {
    background: $brand-error-background !important;
}


/* Container //*/

#a0-lock.a0-theme-default .a0-panel {
    box-shadow: none !important;
}

#a0-lock.a0-theme-default .a0-panel {
    width: 100% !important;
    margin: 0 auto;
}


/* Header // */

#a0-lock.a0-theme-default .a0-panel .a0-header {
    min-height: 20px !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-bg-gradient {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-close {
    display: none;
}

.modal-exclamation {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-success {
    background: #E3DFDA !important;
    color: #162a53;
}

@media (min-width: 768px) {
    .modal-exclamation {
        display: block;
    }
    .modal-padlock {
        display: block;
    }
    #a0-lock.a0-theme-default .a0-emailPassword {
        width: 100% !important;
    }
}

@media (max-width:640px) {
    #a0-lock.a0-theme-default .a0-panel .a0-action {
        bottom: 0;
        width: 100%;
    }
}


/* Forgot Password //*/

#a0-lock.a0-theme-default .a0-forgot-pass {
    color: #4a4a4a !important;
    text-decoration: underline;
}


/* Input Box //*/

#a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content {
    padding: 10px 0 25px 0 !important;
}

#a0-lock.a0-theme-default .a0-emailPassword {
    margin: 0 auto !important;
}

#a0-lock.a0-theme-default .a0-input-box {
    background-color: #fff !important;
    padding: 0 !important;
    border: 1px solid #979797 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box i,
#a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box i,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box i,
#a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box i {
    display: none;
}

#a0-lock.a0-theme-default .a0-panel .a0-email input,
#a0-lock.a0-theme-default .a0-panel .a0-password input,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input,
#a0-lock.a0-theme-default .a0-panel .a0-username input {
    font-size: 18px !important;
    height: 50px !important;
    padding: 0 16px !important;
}

#a0-lock.a0-theme-default .a0-btn-small.a0-back {
    background: #fff !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #efefef !important;
    padding: 16px !important;
    margin-bottom: 20px !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box.a0-error-input,
#a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box.a0-error-input,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box.a0-error-input,
#a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box.a0-error-input {
    border-color: $brand-secondary-1 !important;
}


/* Submit //*/

#a0-lock.a0-theme-default .a0-primary {
    background-color: $brand-secondary-3 !important;
    border-radius: 4px !important;
    margin: 0 auto !important;
    bottom: 0;
    text-indent: 0px !important;
    text-transform: none !important;
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
}

#a0-lock.a0-theme-default .a0-primary:hover {
    background-color: darken($brand-secondary-3, 10%) !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-action button:after {
    background: none !important;
}


/* Footer //*/

#a0-lock.a0-theme-default .a0-panel .a0-footer {
    display: none !important;
}


/* Styleguide Showcase //*/

.theme-warning #a0-lock.a0-theme-default .a0-primary {
    background-color: darken($brand-yellow, 10%) !important;
}

.theme-warning #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color: $brand-yellow-font !important;
}

.theme-error #a0-lock.a0-theme-default .a0-primary {
    background-color: darken($brand-secondary-1, 10%) !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-email input {
    color: #222 !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-password input,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input {
    color: $brand-secondary-1 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-inputs .a0-password {
    margin-top: 10px !important;
}

.theme-error #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color: #fff !important;
}

#a0-lock.a0-theme-default .a0-panel #a0-change_password .a0-collapse-reset .a0-instructions {
    display: none;
}