.btn {
    font-weight: 700;
    border-radius: 4px;
    padding: auto 20px;
    text-decoration: none;
}

.btn:hover, .btn:focus, .btn.focus {
    text-decoration: none;
}

.btn-primary-1 {
    background-color: $brand-primary-1;
    color: #fff;
}

.btn-primary-1:hover {
    background-color: darken($brand-primary-1, 5%);
    color: #fff;
}

.btn-primary-2 {
    background-color: $brand-primary-3;
    color: $brand-primary-3-font;
}

.btn-primary-2:hover {
    background-color: darken($brand-primary-3, 5%);
    color: $brand-primary-3-font;
}

.btn-primary-3 {
    background-color: transparent;
    color: $brand-primary-1;
}

.btn-primary-3:hover {
    color: $brand-primary-1;
}

.btn-primary-4 {
    background-color: $brand-secondary-1;
    color: #fff;
}

.btn-primary-4:hover {
    background-color: darken($brand-secondary-1, 5%);
    color: #fff;
}