.btn {
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px auto;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.dynamic-width-btn {
        @include bp(sm) {
            width: 100%
        }
    }
}

.btn-primary-1 {
    background-color: $brand-blue;
    color: #fff;
    border: 2px solid $brand-blue;
    &:focus,
    &:hover {
        background-color: darken($brand-blue, 5%);
        color: #fff;
    }
}

.btn-primary-2 {
    background-color: $brand-yellow;
    color: $brand-yellow-font;
    &:hover {
        background-color: darken($brand-yellow, 5%);
        color: $brand-yellow-font;
    }
}

.btn-primary-3 {
    background-color: transparent;
    color: $brand-blue;
    &:hover {
        color: $brand-blue;
    }
}

.btn-primary-4 {
    background-color: $brand-secondary-1;
    color: #fff;
    &:hover {
        background-color: darken($brand-secondary-1, 5%);
        color: #fff;
    }
}

.btn-secondary-1 {
    background-color: #fff;
    border: solid 2px $brand-blue;
    color: $brand-blue;
    font-size: 13px;
    font-family: 'Montserrat', Sans-serif;
    &:hover {
        background-color: darken(#fff, 5%);
        color: darken($brand-blue, 5%)
    }
}

.btn-black-hollow {
    background-color: #fff;
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    &:focus,
    &:hover {
        background-color: darken(#fff, 5%);
    }
}

.btn-blue-hollow {
    background-color: #fff;
    color: $brand-blue;
    border: 2px solid $brand-blue;
    &:focus,
    &:hover {
        background-color: darken(#fff, 5%);
    }
}

.btn-green {
    background-color: $brand-secondary-3;
    color: #fff;
    border: 2px solid $brand-secondary-3;
    &:focus,
    &:hover {
        background-color: darken($brand-secondary-3, 5%);
        color: #fff;
        border: 2px solid darken($brand-secondary-3, 5%);
    }
}

.btn-search {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #4a4a4a;
}

.ob-btn {
    font-size: 18px;
    font-family: 'Montserrat', sans serif;
    font-weight: 700;
    text-align: left;
    padding: 10px 15px;
    border-radius: $radius;
    i {
        position: relative;
        bottom: -3px;
    }
    &.full-width-btn {
        width: 100%;
    }
    &.btn-green {
        background-color: $brand-secondary-3;
        color: #fff;
        border: 2px solid $brand-secondary-3;
        &:focus,
        &:hover {
            background-color: darken($brand-secondary-3, 5%);
            color: #fff;
            border: 2px solid darken($brand-secondary-3, 5%);
        }
    }
}