.calendar-carousel {
    width: 100%;
    margin: 0 auto;
    .carousel-navigation {
        display: none;
    }
    .calendar-chevron {
        width: 100%;
        margin: 0 auto 20px auto;
        position: relative;
    }
    .swiper-container {
        margin: 0 auto;
        padding-top: 12px;
        .swiper-wrapper {
            width: 100%;
            margin: 0 auto 10px auto;
            padding-top: 10px;
            .swiper-slide {
                cursor: pointer;
                font-size: 22px;
                font-weight: 700;
                text-align: center;
                width: 20vw;
                height: 20vw;
                border-radius: ($radius);
                border: solid 2px $brand-secondary-2;
                line-height: 20vw;
                color: $brand-secondary-2;
                &#calendar-carousel-date-active {
                    height: 21vw;
                    margin: -4vw auto 4vw auto;
                    color: $brand-blue;
                    font-size: 24px;
                    line-height: 25vw;
                    border: none;
                    background-image: $calendar-carousel;
                    background-size: 19.5vw 22vw;
                    background-repeat: no-repeat;
                    transition: margin $transition-250ms;
                }
                &#calendar-carousel-date-disabled {
                    opacity: 0.5;
                    margin-top: -1vw;
                    color: $brand-secondary-2;
                    font-size: 24px;
                    line-height: 25vw;
                    height: 21vw;
                    border: none;
                    background-image: $calendar-carousel-disabled;
                    background-size: 19.5vw 21vw;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

// mobile landscape
@media(max-device-width: 992px) and(orientation: landscape) {
    .swiper-container .swiper-wrapper .swiper-slide {
        font-size: 25px;
        line-height: 65px;
        background-size: 64px 65px;
        height: 65px;
        width: 65px;
        margin-top: -10px;
        &#calendar-carousel-date-active {
            font-size: 25px;
            line-height: 75px;
            background-size: 65px 74px;
            height: 75px;
            transition: none;
        }
        &#calendar-carousel-date-disabled {
            font-size: 25px;
            line-height: 75px;
            background-size: 65px 74px;
            height: 75px;
        }
    }
    .payment-navigation {
        position: relative !important;
    }
}

@media(min-width: 768px) {
    .calendar-carousel {
        margin-top: -40px;
        width: 80%;
        .carousel-navigation {
            display: block;
            .prev {
                position: relative;
                top: 75px;
                left: -50px;
                .fa-chevron-left {
                    margin-left: -2px;
                }
            }
            .next {
                position: relative;
                top: 75px;
                left: 50px;
                float: right;
            }
            a {
                text-decoration: none;
                z-index: 11;
                cursor: pointer;
            }
        }
        .swiper-container {
            margin: 0 auto;
            .swiper-wrapper .swiper-slide {
                font-size: 25px;
                line-height: 88px;
                height: 88px;
                margin-top: -10px;
                &#calendar-carousel-date-active {
                    font-size: 30px;
                    height: 95px;
                    line-height: 100px;
                    background-size: 87px 95px;
                    margin: -15px auto 0 auto;
                    transition: none;
                }
                &#calendar-carousel-date-disabled {
                    font-size: 25px;
                    height: 95px;
                    line-height: 100px;
                    background-size: 87px 95px;
                    margin: -15px auto 0 auto;
                }
            }
        }
    }
}