.swiper-container {
    margin:-50px auto 0 auto;
    .swiper-wrapper {
        width: 100%;
        margin: 50px auto 10px auto;
        padding-top: 10px;
        .swiper-slide {
            cursor: pointer;
            font-size: 52px;
            font-weight: 700;
            text-align: center;
            width: 45vw;
            height: 40vw;
            border-radius: 3px;
            border: solid 2px $brand-secondary-2;
            line-height: 40vw;
            color: $brand-secondary-2;
        }
        .swiper-slide#calendar-carousel-date-active {
            height: 45vw;
            margin-top: -10px;
            color: $brand-blue;
            font-size: 52px;
            line-height: 45vw;
            border: none;
            background-image: url(../img/calendar-carousel.svg);
            background-size: 44vw 45vw;
            background-repeat: no-repeat;
        }
        .swiper-slide#calendar-carousel-date-disabled {
            opacity: 0.5;
            color: $brand-secondary-2;
            font-size: 52px;
            line-height: 50vw;
            height: 46vw;
            border: none;
            background-image: url(../img/calendar-carousel-disabled.svg);
            background-size: 44.5vw 46vw;
            background-repeat: no-repeat;
            margin: -4vw 0 0;
        }
    }
}

.calendar-carousel {
    width: 100%;
    margin: 0 auto 50px auto;
    .calendar-chevron {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
    }
}

.carousel-navigation {
    display: none;
}

@media (min-width: 1200px) {
        .prev {
            margin-top: 0 !important;
        }
        .next {
            margin-top: 0 !important;
        }
}

@media (min-width: 768px) {
    .calendar-carousel {
    width: 80%;
    margin: 0 auto 50px auto;
    }
    .swiper-container {
        margin: 0;
        .swiper-wrapper {
            .swiper-slide {
                font-size: 25px;
                line-height: 65px;
                background-size: 64px 65px;
                height: 65px;
                width: 65px;
                margin-top: -10px;
            }
            .swiper-slide#calendar-carousel-date-active {
                font-size: 25px;
                line-height: 75px;
                background-size: 65px 74px;
                height: 75px;
                margin-top: -15px;
            }
            .swiper-slide#calendar-carousel-date-disabled {
                font-size: 25px;
                line-height: 75px;
                background-size: 65px 74px;
                height: 75px;
                margin-top: -15px;
            }
        }
    }
        a {
            text-decoration: none !important;
            z-index: 11;
            cursor: pointer;
        }
        .prev {
            position: relative;
            top: 65px;
            left: -50px;
            .fa-chevron-left {
                margin-left: -2px;
            }
        }
        .next {
            position: relative;
            top: 65px;
            left: 50px;
            float: right;
        }
        .fa-chevron-right {
            margin-left: 2px;
        }
}

#payment-change-effective {
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}