.white-bg {
    background-color: #fff !important;
}

.blue-bg {
    background-color: $brand-primary-1 !important;
}

.yellow-bg {
    background-color: $brand-primary-3 !important;
}

.red-bg {
    background-color: $brand-secondary-1 !important;
}

.green-bg {
    background-color: $brand-secondary-3 !important;
}

.font-light {
    color: $brand-primary;
}

.font-dark {
    color: #fff;
}