.bg-primary {
    background-color: $brand-primary;
}

.bg-success {
    background-color: $brand-success;
}

.bg-warning {
    background-color: $brand-warning;
}

.bg-danger {
    background-color: $brand-danger;
}