.bg-primary {
    background-color: $brand-primary;
}

.bg-secondary {
    background-color: $brand-secondary;
}

.bg-success {
    background-color: $brand-success;
}

.bg-error {
    background-color: $brand-error;
}

.bg-warning {
    background-color: $brand-warning;
}