$brand-light-grey: #f7f7f7;
$brand-dark-grey: #c9c9c9;

.bg-white {
    background-color: #fff !important;
}

.bg-blue {
    background-color: $brand-blue !important;
}

.bg-yellow {
    background-color: $brand-yellow !important;
}

.bg-red {
    background-color: $brand-secondary-1 !important;
}

.bg-green {
    background-color: $brand-secondary-3 !important;
}

.bg-beige {
    background-color: $brand-tint-1;
}

.bg-light-grey {
    background-color: $brand-light-grey;
}

.color-white {
    color: #fff !important;
}

.color-blue {
    color: $brand-blue !important;
}

.color-blue-md {
    &.color-blue-md {
        @include bp(md) {
            color: $brand-blue !important;
        }
    }
}

.color-yellow {
    color: $brand-yellow !important;
}

.color-red {
    color: $brand-secondary-1 !important;
}

.color-green {
    color: $brand-secondary-3 !important;
}

.color-grey {
    color: #4a4a4a !important; // Stu? //
}

.text-error { 
    color: $brand-secondary-1; 
}