.icon-primary i{
    color: $brand-primary-1;
}

.summary-payment {
    background-color: $brand-tint-1;
    color: $brand-primary-1;
}

.summary-payment p {
    padding: 20px 0;
}

.summary-payment span{
    font-size: $font-size-h1;
}