.icon-primary i{
    color: $brand-primary-1;
}

.remaining-payment {
    background-color: $brand-tint-1;
    color: $brand-primary-1;
    margin: 20px auto 40px auto;
}

.remaining-payment p {
    padding: 20px 0;
}

.remaining-payment span{
    font-size: $font-size-h1;
}