.icon-primary i{
    color: $brand-primary-1;
}

.summary-change-date {

    span {
        font-size: 14px;
        display: block;
        position: relative;
        text-decoration: underline;
    }
    h2 {
        font-size: 24px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

.panel-beige {

    background-color: $brand-tint-1;
    color: $brand-primary-1;
    margin: 20px auto 40px auto;

    p {
        padding: 20px;
    }
    span{
        font-size: $font-size-h2;
        font-weight: 700;
        padding: 0 5px;
    }  
    a {
        text-decoration: none;
    }
}

.form-input-other {
    margin: 40px 0 20px 0;
}

@media(min-width:992px) {
        .summary-change-date {
            span {
            display: inline-block;
            margin-top: 5px;
            margin-left: 10px;
            position: absolute;
            }
    }
}