@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?eepofd') format('truetype'),
    url('../fonts/icomoon.woff?eepofd') format('woff'),
    url('../fonts/icomoon.svg?eepofd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
  content: "\e900";
}
.icon-exit:before {
  content: "\e901";
}
.icon-folder:before {
  content: "\e902";
}
.icon-laptop:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e905";
}
.icon-payment:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-tick-circle:before {
  content: "\e908";
}
.icon-time:before {
  content: "\e909";
}
.icon-mobile:before {
  content: "\e90a";
}
.icon-sms:before {
  content: "\e90b";
}
.icon-profile:before {
  content: "\e90c";
}
.icon-profile-alt:before {
  content: "\e90d";
}
.icon-calculator:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-chat:before {
  content: "\e910";
}
.icon-cross:before {
  content: "\e911";
}
.icon-cross-circle:before {
  content: "\e912";
}
.icon-document:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e914";
}
.icon-exclamation:before {
  content: "\e915";
}
.icon-exclamation-circle:before {
  content: "\e916";
}

