@import "Bootstrap/Bootstrap";

.bg-pacific {
    background-color: $brand-primary;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.bg-shamrock {
    background-color: $brand-success;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.bg-juice {
    background-color: $brand-warning;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}