.loader {
    border-radius: 50%;
    background-color: $brand-yellow;
    height: 30px;
    margin: 0 auto;
    opacity: 0;
    width: 30px;
    -webkit-animation: pulse 1.5s ease-out;
    animation: pulse 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.prompt h2 {
    margin: 100px 20px;
    position: absolute;
    left: 0;
    right: 0;
}

.first-prompt h2 {
    opacity: 0;
    -webkit-animation: first-prompt-animation 4s ease-in 2s forwards;
    animation: first-prompt-animation 4s ease-in 2s forwards;
}

.second-prompt h2 {
    opacity: 0;
    -webkit-animation: second-prompt-animation 4s ease-in 6s forwards;
    animation: second-prompt-animation 4s ease-in 6s forwards;
}

.load-fade-in {
    -webkit-animation: load-in ease-in 0.25s;
    animation: load-in ease-in 0.25s;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(.1);
        -ms-transform: scale(.1);
        -webkit-transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(.1);
        -ms-transform: scale(.1);
        -webkit-transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes first-prompt-animation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes first-prompt-animation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes second-prompt-animation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes second-prompt-animation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes load-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes load-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* payment-loader //*/
#payment-ajax-loader {
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    top: 80%;
}

@media (min-width: 768px) {
    #payment-ajax-loader {
        top: 60%;
    }
}