// margin 10px //
.m-t-10 {
    margin: 10px 0 0 0;
}

.m-b-10 {
    margin: 0 0 10px 0;
}

.m-r-10 {
    margin: 0 10px 0 0;
}

.m-l-10 {
    margin: 0 0 0 10px;
}

.m-y-10 {
    margin: 10px 0 10px 0;
}

.m-x-10 {
    margin: 0 10px 0 10px;
}

.m-10 {
    margin: 10px;
}

// margin 15px

.m-b-15 {
    margin: 0 0 15px 0;
}

// margin 20px //
.m-t-20 {
    margin: 20px 0 0 0;
}

// no margin
.m-0 {
    margin: 0;
}

.m-b-20 {
    margin: 0 0 20px 0;
}

.m-r-20 {
    margin: 0 20px 0 0;
}

.m-l-20 {
    margin: 0 0 0 20px;
}

.m-y-20 {
    margin: 20px 0 20px 0;
}

.m-x-20 {
    margin: 0 20px 0 20px;
}

.m-20 {
    margin: 20px;
}

.m-l--5 {
    margin-left: -5px;
}

.m-t--5 {
    margin-top: -5px;
}

.m-t--20 {
    margin-top: -20px;
}

.m-x-50 {
    margin: 0 50px;
}

.m-y-50 {
    margin: 50px 0;
}