    /* Need to move these //*/
    
    $radius: 3px;
    $transform-x-center: translateX(-50%);
    $transform-t-center: translateY(-50%);
    $transform-center: translateX(-50%, -50%);
    $transition-250ms: .25s ease-in-out;
    $calendar-carousel: url(../img/calendar-carousel.svg);
    $calendar-carousel-disabled: url(../img/calendar-carousel-disabled.svg);


    *:focus {
        outline: -webkit-focus-ring-color auto 0px !important;
    }
    
    .payments-place-img {
        padding: 10px 0 20px;
        width: 182px;
    }
    
    .form-input-other {
        margin: 40px 0 20px 0;
    }
    
    body {
        height: 100%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.25em !important;
    }
    
    @media (max-width: 480px) {
        .summary-header h1 {
            font-size: 30px;
        }
    }
    
    @media (min-width: 480px) {
        .summary-header h1 {
            font-size: 35px;
        }
    }
    
    .font-yellow {
        color: $brand-yellow;
    }
    
    .fa-7x {
        font-size: 7em;
    }
    
    .absolute-t-r {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .v-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    
    .header-icon {
        padding-bottom: 10px;
    }
    
    .no-underline {
        text-decoration: none;
    }
    
    .no-underline:hover,
    .no-underline:focus {
        text-decoration: none;
    }
    /* toast (clean this up)*/
    
    hr.dotted-line {
        border: none;
        border-top: 4px dotted #cfcfcf;
        /*??? stu //*/
        margin: 10px auto;
        width: 95%;
        visibility: visible;
        opacity: 1;
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        -webkit-transition-delay: .25s;
        transition-delay: .25s;
    }
    
    #important.modal-dialog {
        background-color: $brand-blue;
        color: #fff;
        .modal-title {
            color: #fff;
        }
        .modal-content {
            background-color: $brand-blue;
        }
        .change-payment-textbox {
            background-color: $brand-blue;
            .payment-navigation {
                background-color: $brand-blue;
                position: relative;
                li {
                    padding: 10px 0;
                }
            }
        }
    }
    
    .up {
        transform: translate(0, 100%);
        transition: transform 0.5s ease-in-out;
    }
    
    .up.in {
        transform: translate(0, 0);
    }
    
    // bold // 
    .ob-ss-bold {
        font-weight: 700;
    }
    
    // payments h2 //
    #payment-page {
        h2 {
            font-size: 18px;
            text-align: center;
            margin: 30px auto;
        }
    }
    
    @media (min-width: 768px) {
        #payment-page {
            h2 {
                font-size: 30px;
                text-align: left;
            }
        }
    }