// Need to move these //
*:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.payments-place-img {
    padding: 10px 0 20px;
    width: 182px;
}

.form-input-other {
    margin: 40px 0 20px 0;
}

body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25em !important;
}

@media (max-width: 480px) {
    .summary-header h1 {
        font-size: 30px;
    }
}

@media (min-width: 480px) {
    .summary-header h1 {
        font-size: 35px;
    }
}

.font-yellow {
    color: $brand-primary-3;
}

.btn-black-hollow {
    background-color: #fff;
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    &:focus,
    &:hover {
        background-color: darken(#fff, 5%);
    }
}

.fa-7x {
    font-size: 7em;
}