.modal {
    .ob-modal-body {
        overflow-y: scroll;
        padding: 0 15px 20px 15px;
        @include bp(sm-plus) {
            padding: 0 40px 40px 40px;
            max-height: 600px;
        }
        ol {
            li.ob-list-header {
                counter-increment: item;
                margin: 10px 0;
                display: inline-block;
                h3 {
                    display: inline;
                }
                &:before {
                    content: counter(item);
                    display: inline-block;
                    font-size: 25px;
                    font-weight: 700;
                    color: $brand-blue;
                }
                ol {
                    padding-left: 20px;
                }
            }
        }
        h1,
        h3 {
            color: $brand-blue;
        }
        dl {
            dt {
                margin-top: 15px;
            }
            dd {
                margin-top: 2.5px;
            }
        }
    }
    .modal-document {
        .ob-modal-body {
            @include bp(sm) {
                max-height: calc(100vh);
                overflow-y: auto;
            };
            a {
                word-break: break-all;
            }
        }
    }
}