.modal {
    padding: 0 !important;
}

.modal.fade .modal-dialog {
    transform: translateY(0%);
    transition: transform 0s;
}

.modal-dialog {
    z-index: 1000;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
}

.modal-content {
    border-radius: 3px;
    border: 0px;
    box-shadow: none;
}

.modal-header {
    border-bottom: none;
    padding: 0;
    padding: 50px 0 0 0;
    h2 {
        padding: 10px 30px 20px 30px;
    }
    p {
        padding: 0 20px 40px 20px;
        margin-top: -20px;
        margin-bottom: 0;
    }
}

.modal-body {
    margin: 0;
    padding: 0;
    p {
        padding: 0 20px;
    }
}

.modal-link {
    cursor: pointer;
}

.modal-hidden {
    visibility: hidden;
}

.close {
    position: fixed;
    right: 0;
    top: 5px;
    border: 0px;
    color: $brand-secondary-2;
    i {
        color: $brand-secondary-2;
    }
    &:hover {
        opacity: 0.5;
    }
}

button:focus {
    outline: 0;
    box-shadow: none;
}

.modal-error {
    width: 100% !important;
    height: 100% !important;
    background-color: $brand-secondary-1 !important;
}

.modal-warning {
    width: 100% !important;
    height: 100% !important;
    background-color: $brand-yellow !important;
}

@media (min-width: 768px) {
    .modal-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) !important;
        width: 600px;
        height: auto;
    }
    .modal-backdrop.in {
        background-color: #000;
        opacity: .8;
    }
    .close {
        position: absolute;
        right: 5px;
        top: 15px;
    }
    .modal-body {
        margin: 0;
        padding: 0;
        p {
            padding: 0 100px;
        }
    }
}