.modal-dialog {
    z-index: 1000;
    margin-top: 10vh;
    min-height: 500px;
}

.modal-content {
    border-radius: 3px;
    border: 0px;
}

.modal-body {
    margin: 0;
    padding: 0;
    p {
        padding: 0 20px;
    }
    img {
        padding: 10px 0 20px;
        width: 182px;
    }
}

.modal-header {
    border-bottom: none;
    padding: 0;
    h2 {
        padding: 40px 0 40px 0;
    }

    p {
        padding: 0 20px 40px 20px;
        margin-top: -20px;
        margin-bottom: 0;
    }
}

.modal-backdrop.in {
    opacity: .8;
    filter: alpha(opacity=80);
}

.close {
    position: absolute;
    right: 10px;
    top: 15px;
    border: 0px;
    color: $brand-tint-2;
}

.close:hover {
    opacity: 0.5;
}
    button:focus {
    outline: 0;
    box-shadow: none;
}

.modal-link {
    cursor: pointer; 
}

.modal-hidden {
    visibility: hidden;
}

@media (min-width: 768px) {

    .modal-dialog {
    margin-top: 25vh;
    }

}