.navbar-off-canvas {

    .ob-fade {
    	transition: $transition-250ms;
    	-webkit-transition: $transition-250ms;
    }
    .ob-fade-out {
    	@include bp(md) {
    		opacity: 1;
    	}
    	opacity: 0;
    }

	.navbar {
	    margin-top: 0;
	    margin-bottom: 0 !important;
	    z-index: 100 !important;
	    position: fixed;
	    top: 0;
	    -webkit-transition: .2s ease-in-out;
	    transition: .2s ease-in-out;
	    a {
	        text-transform: none;
	        color: $brand-blue;
	    }
	    a:hover {
	        background-color: #fff;
	    }
	}

	.nav {
	    li:first-child {
	        margin-right: 10px;
	    }
	    .col-xs-6 {
	        padding: 0 10px !important;
	    }
	}

	.off-canvas {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 90%;
		left: -90%;
	    -webkit-transition: $transition-250ms;
	    transition: $transition-250ms;
	    z-index: 105;
		&.open {
			@include bp(md) {
				width: 350px;
			}
			left: 0;
		}
		.off-canvas-bottom {
			width: 100%;
			ul {
				li {
					padding: 0 0 20px 0;
					a {
						text-decoration: none;
						i {
							width: 50px;
							padding: 0 10px 0 0;
							text-align: center;
						}
						&.active {
							color: #4a4a4a;
							pointer-events: none;
						}
					}
				}
			}
		}
		.off-canvas-personal-details {
			padding: 0 0 20px;
			@include bp(xs) {
				padding: 0 0 50px; 
			}
		}
		.off-canvas-scrollable {
			@include bp(md) {
				height: 100%;
			}
			height: 300px;
			overflow: auto;
		}
		p {
			margin: 0;
		}
		.font-lg {
			font-size: 18px;
			@include bp(xs) {
				font-size: 25px;
			}
		}
		.font-md {
			font-size: 15px;
			@include bp(xs) {
				font-size: 20px;
			}
		}
		.font-sm {
			font-size: 11px;
			@include bp(xs) {
				font-size: 15px;
			}
		}
	}

	.navbar-btn {
	    -webkit-transition: .2s ease-in-out;
	    transition: .2s ease-in-out;
	    font-family: 'Monsterrat', sans-serif;
	    font-weight: 700;
	    outline: 0 !important;
	    box-shadow: none;
	    padding: 10px 20px;
	}

	.navbar-toggle {
	    position: absolute;
	    left: 0;
	    right: 0;
	}

	.navbar-logo {
	    height: 100%;
	    z-index: 2;
	    width: 75px;
	    position: absolute;
	    left: 50%;
	    margin-left: -37.5px;
	    -webkit-transition: .2s ease-in-out;
	    transition: .2s ease-in-out;
	    img {
	        height: 100%;
	        width: 100%;
	        display: inline-block;
	        vertical-align: middle;
	    }
	    &:hover {
	        width: 80px;
	        margin-left: -40px;
	    }
	}

	.navbar-circle {
	    position: absolute;
	    width: 100%;
	    left: 0;
	    height: 58px;
	    background-color: $brand-blue;
	    -webkit-transition: $transition-250ms;
	    transition: $transition-250ms;
	    &.circle-open {
	    	@include bp(md) {
	    		width: 246px;
	    		background-color: $brand-blue;
	    	}
	    	// background-color: transparent;
	    }
	}

	.navbar-circle-static {
	    position: absolute;
	    background-color: $brand-blue;
	    left: 50%;
	    margin-left: -150px;
	    margin-top: -225px;
	    width: 300px;
	    height: 300px;
	    display: block;
	    border-radius: 50%;
	}

	.navbar-logo-static img {
	    position: absolute;
	    left: 50%;
	    width: 87px;
	    margin-left: -43.5px;
	}

	.btn-sign-in,
	.btn-sign-out {
	    float: right;
	    color: #fff;
	    margin-right: -18px;
	}

	.btn-sign-out:hover,
	.btn-sign-in:hover {
	    color: #fff;
	    background-color: darken($brand-blue, 5%);
	}

	.btn-sign-in:focus,
	.btn-username:focus {
	    color: #fff !important;
	}

	.btn-sign-in-open:hover,
	.btn-sign-out-open:hover {
	    color: $brand-blue !important;
	    background-color: darken(#fff, 5%);
	}

	.btn-username {
	    display: none;
	    float: right;
	    color: $brand-blue;
	    text-decoration: none;
	    span {
	        text-decoration: underline;
	    }
	    &:hover {
	        color: $brand-blue;
	    }
	}

	.btn-username-open {
	    color: #fff;
	    &:hover {
	        color: #fff;
	    }
	}


	/* Navbar Burger Icon*/

	#navbar-icon {
		z-index: 106;
		position: fixed;
		top: 0;
		left: 0;
	    width: 30px;
	    height: 37.5px;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .2s ease-in-out;
	    transition: .2s ease-in-out;
	    cursor: pointer;
	    margin-top: 18.5px;
	    span {
	        display: block;
	        position: absolute;
	        height: 3px;
	        width: 100%;
	        background: #fff;
	        border-radius: 3px;
	        opacity: 1;
	        left: 0;
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	        -webkit-transition: .2s ease-in-out;
	        transition: .2s ease-in-out;
	    }
	    &.icon-open span {
	        background: #fff;
	    }
	    span:nth-child(1) {
	        top: 0px;
	        -webkit-transform-origin: left center;
	        transform-origin: left center;
	    }
	    span:nth-child(2) {
	        top: 9px;
	        -webkit-transform-origin: left center;
	        transform-origin: left center;
	    }
	    span:nth-child(3) {
	        top: 18px;
	        -webkit-transform-origin: left center;
	        transform-origin: left center;
	    }
	    &.icon-open span:nth-child(1) {
	        -webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	        top: -1px;
	        left: 8px;
	    }
	    &.icon-open span:nth-child(2) {
	        width: 0%;
	        opacity: 0;
	    }
	    &.icon-open span:nth-child(3) {
	        -webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	        top: 20px;
	        left: 8px;
	    }
	}

    @include bp(md) {
	    .nav {
	        .col-xs-6 {
	            padding: 0 30px !important;
	        }
	    }
	    .navbar-relative-top {
	        position: relative !important;
	    }
	    .navbar {
	        padding-top: 10px;
	        background-color: transparent;
	    }
	    .navbar-right {
	        margin-right: 0px !important;
	    }
	    .navbar-logo {
	        width: 106px;
	        margin-left: -53px;
	        margin-top: 7px;
	        &:hover {
	            width: 116px;
	            margin-left: -58px;
	        }
	    }
	    .navbar-circle {
	        left: 50%;
	        margin-left: -123px;
	        margin-top: -123px;
	        width: 246px;
	        height: 226px;
	        display: block;
	        border-radius: 50%;
	    }
	    #navbar-icon span {
	        background: $brand-blue;
	    }
	    .btn-username {
	        display: block;
	    }
	    .btn-sign-in {
	        color: $brand-blue;
	        &:hover {
	            color: $brand-blue;
	        }
	    }
	    .btn-sign-out {
	        float: right;
	        color: #fff;
	        background-color: $brand-blue;
	        margin-right: -10px;
	    }
	    .btn-sign-in-open,
	    .btn-sign-out-open {
	        color: $brand-blue;
	        background-color: #fff;
	    }
	    .btn-sign-in:focus,
	    .btn-username:focus {
	        color: $brand-blue !important;
	    }
	    .btn-username-open:focus {
	        color: #fff !important;
	    }
	}
}