.section-container nav.navbar .navbar-circle {
    position: absolute;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0 !important;
    z-index: 100 !important;
    position: fixed;
    top: 0;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

        a{
            text-transform: none;
            color: $brand-primary-1;
        }

        a:hover{
            background-color: #fff;
        }
}

.nav {
    li:first-child {
        margin-right:10px;
    }
    .col-xs-6 {
        padding: 0 10px !important;
    }
}

.navbar-btn {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    outline: 0 !important;
    box-shadow: none;
    padding: 10px 20px;
}

.navbar-toggle {
    position: absolute;
    left: 0;
    right: 0;
}

.navbar-logo {
    height: 100%;
    z-index: 2;
    width: 75px;
    position: absolute;
    left: 50%;
    margin-left: -37.5px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
        img{
            height: 100%;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
}

.navbar-logo:hover {
    width: 80px;
    margin-left: -40px;
}

.navbar-circle {
    position: absolute;
    width: 125%;
    left: -25%;
    height: 58px;
    background-color: $brand-primary-1;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.navbar-circle.circle-open {
    position: fixed;
    margin-top: -200vh;
    margin-left: -200vh;
    width: 400vh;
    height: 400vh;
}

.navbar-circle-static {
    position: absolute;
    background-color: $brand-primary-1;
    left: 50%;
    margin-left: -150px;
    margin-top: -225px;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
}

.navbar-logo-static img {
    position: absolute;
    left: 50%;
    width: 87px;
    margin-left: -43.5px;
}


// Navbar Buttons 

.btn-sign-in, .btn-sign-out {
    float: right;
    color: #fff;
    margin-right: -18px;
}

.btn-sign-out:hover, .btn-sign-in:hover {
    color: #fff;
    background-color: darken($brand-primary-1, 5%);
}

.btn-sign-in:focus, .btn-username:focus {
    color: #fff !important;
}

.btn-sign-in-open:hover, .btn-sign-out-open:hover {
    color: $brand-primary-1 !important;
    background-color: darken(#fff, 5%);
}


.btn-username {
    display: none;
    float: right;
    color: $brand-primary-1;
    text-decoration: none;

        span {
            text-decoration: underline;
        }
}

.btn-username:hover {
    color: $brand-primary-1;
}

.btn-username-open {
    color: #fff;
}

.btn-username-open:hover {
    color: #fff;
}


// Navbar Burger Icon

#navbar-icon {
    width: 30px;
    height: 37.5px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin-top: 18.5px;
}

#navbar-icon.icon-open span{
    background: #fff;
}

#navbar-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#navbar-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon.icon-open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
}

#navbar-icon.icon-open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#navbar-icon.icon-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 8px;
}

// Nav Overlay

.overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: -1;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.overlay.overlay-open {
    opacity: 1;
    z-index: 101;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay-content {
    
  position: relative;
  top: 10%;
  transform: translateY(-10%);

    li {
        display: list-item;
        text-decoration: none;
        color: #fff;
    }

    li:first-child {
        padding-left: 0px !important;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        line-height: 2.5em;
        z-index: 101;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    a:hover {

        i { 
        text-shadow: 1px 1px 20px rgb(22, 42, 83);            
        }
    }

    a:focus {

        i { 
        text-shadow: 4px 2px 20px rgba(22, 42, 83, 0.7);            
        }
    }

    i {
        display: none;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
}

.overlay-profile {
    
  position: relative;
  top: 5%;
  transform: translateY(-5%);

    a {
        text-decoration: none;
        color: #fff;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
    
    i {
        display: inline-block;
        padding: 0 10px 0 0px;
    }

}

.circle-profile {
    margin: 20px auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border:2px solid #fff;
}

@media(min-width:992px) {

    .nav {
        .col-xs-6 {
        padding: 0 30px !important;
        }
    }

    .navbar-relative-top {
        position: relative !important;
    }

    .navbar {
        padding-top: 10px;
        background-color: #fff;
    }

    .navbar-right {
        margin-right: 0px !important;
    }

    .navbar-logo {
        width: 125px;
        margin-left: -62.5px;
    }

    .navbar-logo:hover {
        width: 135px;
        margin-left: -67.5px;
    }

    .navbar-circle {
        left: 50%;
        margin-left: -250px;
        margin-top: -400px;
        width: 500px;
        height: 500px;
        display: block;
        border-radius: 50%;
    }

    #navbar-icon span {
        background: $brand-primary-1;
        }

.overlay-content {
        position: relative;
        top: 30%;
        transform: translateY(-30%);
    li {
        display: inline-block;
        min-width: 160px;
    }
    a {
        font-size: 25px;
        line-height: 0;
    }
    i {
        padding: 20px 0;
        display: block;
    }
    }

    .overlay-profile {   
        position: relative;
        top: 25%;
        transform: translateY(-20%);
        }

    .navbar-circle.circle-open {
        margin-top: -150vw;
        margin-left: -150vw;
        width: 300vw;
        height: 300vw;
    }

    .btn-username {
        display: block;
    }

    .btn-sign-in {
        color: $brand-primary-1;
    }

    .btn-sign-out {
        float: right;
        color: #fff;
        background-color: $brand-primary-1;
        margin-right: -10px;
    }

    .btn-sign-in:hover {
        color: $brand-primary-1;
    }

    .btn-sign-in-open, .btn-sign-out-open {
        color: $brand-primary-1;
        background-color: #fff;
    }

    .btn-sign-in:focus, .btn-username:focus {
        color: $brand-primary-1 !important;
    }

    .btn-username-open:focus {
        color: #fff !important;
    }


}

@media (max-device-width: 992px) and (orientation: landscape) { 

.overlay-content {
        position: relative;
        top: 10%;
        transform: translateY(-10%);
    li {
        display: inline-block;
        min-width: 160px;
    }
    i {
        padding: 20px 0;
        display: block;
    }
    }

    .overlay-profile {   
        position: relative;
        top: 0%;
        transform: translateY(0%);
        display: none;
        }

    .navbar-circle.circle-open {
        margin-top: -150vw;
        margin-left: -150vw;
        width: 300vw;
        height: 300vw;
    }

}