.section-container {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0 !important;
    z-index: 100 !important;
    position: fixed;
    top: 0;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.navbar a:hover{
    background-color: #fff;
}

.nav {
    padding: 0;
}

.navbar a{
    text-transform: none;
    color: $brand-primary-1;
}

.navbar-logo {
    height: 100%;
    z-index: 2;
    width: 87px;
    position: absolute;
    left: 50%;
    margin-left: -43.5px;
}

.navbar-logo img{
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.navbar-circle {
    position: absolute;
    width: 125%;
    left: -25%;
    height: 50px;
    background-color: $brand-primary-1;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.navbar-circle.circle-open {
    position: fixed;
    margin-top: -200vh;
    margin-left: -200vh;
    width: 400vh;
    height: 400vh;
}

#navbar-icon {
    width: 30px;
    height: 37.5px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin-top: 12.5px;
    margin-left: 5px;
}

#navbar-icon.icon-open span{
    background: #fff;
}

#navbar-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#navbar-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon.icon-open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
}

#navbar-icon.icon-open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#navbar-icon.icon-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 8px;
}

.navbar-btn {
    padding: auto 0px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
}

.navbar-toggle {
    position: absolute;
    left: 0;
    right: 0;
}

.btn-sign-in {
    float: right;
    color: #fff;
}

.btn-sign-in-open {
    color: #fff !important;
}

.section-container nav.navbar .navbar-circle {
    position: absolute;
}

.overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    z-index: 101;
}

.overlay-content {
    
  position: relative;
  top: 10%;
  transform: translateY(-10%);

    li {
        display: list-item;
        text-decoration: none;
        color: #fff;
    }

    li:first-child {
        padding-left: 0px !important;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        z-index: 101;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    a:hover {

        i { 
        text-shadow: 1px 1px 20px rgb(22, 42, 83);            
        }
    }

    a:focus {

        i { 
        text-shadow: 4px 2px 20px rgba(22, 42, 83, 0.7);            
        }
    }

    i {
        display: none;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
}

.overlay-profile {
    
  position: relative;
  top: 10%;
  transform: translateY(-10%);

    a {
        text-decoration: none;
        color: #fff;
        font-size: 1em;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }
    
    i {
        display: inline-block;
        padding: 0 10px 0 0px;
    }

    hr {
        width: 200px;
        margin: 20px auto;
        border:1px solid #fff;
    }

}

.overlay-profile img {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border:2px solid #fff;
}

.overlay.overlay-open {
    opacity: 1;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

@media(min-width:992px) {
    .navbar {
        padding-top: 10px;
    }

    .navbar-right {
        margin-right: 0px !important;
    }

    .navbar-logo {
        width: 87px;
        margin-left: -43.5px;
    }

    .navbar-circle {
        left: 50%;
        margin-left: -150px;
        margin-top: -225px;
        width: 300px;
        height: 300px;
        display: block;
        border-radius: 50%;
    }

    #navbar-icon span {
    background: $brand-primary-1;
    }

    .navbar {
        background-color: #fff;
    }
    
    .btn-sign-in {
        float: right;
        color: $brand-primary-1;
    }

    .overlay-profile {
    
  position: relative;
  top: 30%;
  transform: translateY(-30%);
    }

.overlay-content {
    
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
    .navbar-circle.circle-open {
        margin-top: -150vw;
        margin-left: -150vw;
        width: 300vw;
        height: 300vw;
    }

.overlay-content {

    li {
        display: inline-block;
        min-width: 160px;
    }

    i {
        padding: 20px 0;
        display: block;
    }
    
}

.overlay-profile {
    
}

    // .btn-application {
    //     display: block;
    // }

    // .btn-application-open {
    //     background-color: #fff;
    //     color: $brand-primary-1;
    // }
    
}

// remove at later date //
body {
    overflow-x: hidden
}
