.panel-beige {
    background-color: $brand-tint-1;
    color: $brand-blue;
    margin: 20px auto 40px auto;
    p {
        padding: 20px;
    }
    span {
        font-size: $font-size-h2;
        font-weight: 700;
        padding: 0 5px;
    }
}

.panel-secondary-group {
    @include bp(sm) {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }
    .panel-secondary {
        border-bottom: solid 1px #e7e7e7;
        &:nth-child(1) {
            border-top: solid 1px #e7e7e7;
        }
        color: $brand-blue;
        .panel-secondary-container {
            display: table;
            padding: 15px 5px 15px 15px;
            span.copy {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }
            .panel-btn {
                display: table-cell;
                vertical-align: middle;
                padding: 0 15px 0 25px;
                .btn {
                    margin: 0;
                    float: right;
                }
            }
        }
    }
}
