.panel-beige {
    background-color: $brand-tint-1;
    color: $brand-blue;
    margin: 20px auto 40px auto;
    p {
        padding: 20px;
    }
    span {
        font-size: $font-size-h2;
        font-weight: 700;
        padding: 0 5px;
    }
}

.panel-secondary-group {
    .panel-secondary {
        border-bottom: solid 1px #e7e7e7;
        &:nth-child(1) {
            border-top: solid 1px #e7e7e7;
        }
        color: $brand-blue;
        .panel-secondary-container {
            padding: 15px 5px 15px 0;
            span.copy {
                padding: 10px 0 15px 10px;
                float: left;
                width: 75%;
            }
            .panel-btn {
                width: 25%;
                .btn {
                    margin: 0;
                    float: right;
                }
            }
        }
    }
}
