    $ob-panel-default-text: $brand-blue !default;
    $ob-panel-default-border: #fff !default;
    $ob-panel-default-heading-bg: none !default;
    .panel-group {
        .panel:nth-child(2) {
            margin: 30px 0;
        }
    }
    
    .ob-panel-default {
        @include panel-variant($ob-panel-default-border, $ob-panel-default-text, $ob-panel-default-heading-bg, $ob-panel-default-border);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        border: none;
        -webkit-transition: $transition-250ms;
        transition: $transition-250ms;
        &.ob-panel-active {
            background-color: #f7f7f7; //change at later date
        }
        &.ob-panel-disabled {
            opacity: 0.3;
        }
        .panel-heading {
            padding: 0;
            -webkit-transition: background-color 0.5s ease-in-out;
            transition: background-color 0.5s ease-in-out;
            .panel-title {
                font-family: Source Sans Pro,sans-serif;
                font-size: 15px;
                padding: 15px;
            }
            hr.dash {
                margin: 0;
                border-top: 1px solid #e3dfda;
                /*change*/
            }
            .panel-btn {
                padding: 12.5px 15px 0 0;
                .btn-black-hollow {
                    display: none;
                }
                i {
                    color: #4a4a4a;
                    /*change*/
                }
            }
        }
        .panel-body {
            font-size: 18px;
            color: #4a4a4a;
            /*change*/
            padding: 20px;
            border: none;
            ul {
                margin: 0;
                li.panel-list:nth-child(2) {
                    margin: 15px 0;
                }
                li {
                    i {
                    text-align: center;
                    width: 30px;
                    }
                    strong {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    
    .panel-group .panel-heading+.panel-collapse>.panel-body {
        border: none;
    }
    
    @media (min-width: 768px) {
        .ob-panel-default {
            .panel-heading {
                .panel-title {
                    padding: 15px 15px 7.5px 15px;
                }
                hr.dash {
                    margin: 0 15px 5px;
                    width: 30px;
                    border: solid 1px $brand-blue;
                    text-align: left;
                }
                .panel-btn {
                    .btn-black-hollow {
                        margin: 0;
                        display: block;
                    }
                    i {
                        display: none;
                    }
                }
            }
            .panel-body {
                ul {
                    li {
                        margin: 0;
                        display: inline-block;
                    }
                    li.panel-list:nth-child(2) {
                        margin: 0 30px;
                        display: inline-block;
                    }
                }
            }
        }
    }