.radio-buttons-wrapper {

	flex-basis: auto;
	display: flex;
	flex-direction: row;
    width: 100%;

	input[type="radio"] {
		display: none;
	}

	.radio-container {
		overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
		transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    width: 100%;
	    &.term-hidden {
	    	opacity: 0;
	    	width: 0;
	    }
		.btn-radio {
			width: 100%;
			height: 100px;
			border-radius: 4px;
			border: solid 2px $brand-blue;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			&.btn-radio-sm {
				height: 75px;
			}
			&.checked {
				background-color: $brand-blue;
				-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
				-moz-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.5);
				box-shadow:         0 1px 2px 0 rgba(0, 0, 0, 0.5);
				.btn-radio-num {
					color: #fff;
				}
			}
			.btn-radio-num {
				font-size: 30px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				color: $brand-blue;
			}
			.btn-radio-copy {
				@extend .btn-radio-num;
				font-size: 13px;
			}
			i.icon-tick {
    			font-size: x-small;
			}
		}
	}
}