.ob-rounded-table {
    width: 100%;
    border-radius: $radius*2;
    &.ob-table-grey {
        background: $brand-light-grey;
    }
    &.ob-table-grey-mob {
        @include bp(sm) {
            background: $brand-light-grey;
        }
    }
    tr {
        border-bottom: solid 1px #e7e7e7;
        &:last-child {
            border: none;
            background: none;
        }
        td {
            padding: 12px;
            font-size: 15px;
            text-align: left;
            &:last-child {
                font-family: 'Monsterrat', sans-serif;
                font-weight: 700;
                text-align: right;
            }
        }
    }
}

.table-grand-total {
    font-weight: 700;
    padding: 10px;
    span {
        &:first-child {
            @extend .pull-left;
            padding-top: 5px;
        }
        &:last-child {
            @extend .pull-right;
            font-size: 25px;
        }
    }
}
