.circle-container {
    margin: 40px 0 0 0;
    min-height: 370px;
    a {
        cursor: default;
        &:hover {
            color: $brand-blue;
        }
    }
}

.circle-primary {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 5px $brand-yellow;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 10px $brand-yellow;
        color: $brand-blue !important;
    }
}

.circle-secondary {
    margin: -75px auto 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $brand-blue;
    border: 5px solid #fff;
    -webkit-transition: width 0.25s ease, height 0.25s ease;
    transition: width 0.25s ease, height 0.25s ease;
}

.circle-inner {
    text-align: center;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    h2 {
        margin: 0;
        font-weight: 700;
        padding: 0 5px;
    }
}

.circle-primary .circle-amount p {
    font-size: 55px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: $brand-yellow-font;
}

.circle-secondary .circle-amount p {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.circle-secondary .circle-amount span {
    font-size: 20px;
}

@media(min-width:992px) {
    .circle-primary {
        height: 270px;
        width: 270px;
        padding-top: 5px;
    }
    .circle-secondary {
        height: 170px;
        width: 170px;
        margin-right: 10%;
        margin-top: -20%;
        float: right;
    }
    .circle-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .circle-container {
        margin-bottom: 0;
    }
    .circle-primary .circle-amount p {
        font-size: 60px;
    }
    .circle-secondary .circle-amount p {
        font-size: 40px;
    }
    .circle-secondary .circle-amount span {
        font-size: 25px;
    }
}

.new-summary {
    .radial-progress {
        svg {
            z-index: 10;
            position: absolute;
            top: 0;
            .background {
                fill: #fff;
            }
            .radial {
                fill: transparent;
                stroke: $brand-dark-grey;
                stroke-width: 6;
                stroke-miterlimit: 10;
                z-index: -1;
            }
            .progress {
                fill: transparent;
                stroke: $brand-blue;
                stroke-width: 8;
                stroke-miterlimit: 10;
            }
        }
        .radial-carousel {
            width: 100%;
            height: 280px;
            margin: 20px auto;
            .swiper-slide {
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                .slide-content {
                    p {
                        font-family: 'Montserrat', sans-serif;
                        margin: 0;
                        line-height: 1;
                        &.radial-lg {
                            font-size: 44px;
                            color: $brand-blue;
                        }
                        &.radial-md {
                            font-size: 30px;
                            color: $brand-dark-grey;
                        }
                        &.radial-sm {
                            font-size: 22px;
                            color: $brand-dark-grey;
                        }
                    }
                }
            }
            .radial-pagination {
                bottom: 30px;
                .swiper-pagination-bullet {
                    opacity: 1;
                    background: $brand-light-grey;
                    &.swiper-pagination-bullet-active {
                        background: $brand-blue;
                    }
                }
            }
        }
    }
    .summary-group {
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: center;
        border-radius: 4px;
        &.grey {
            background: $brand-light-grey;
        }
        dl {
            margin: 0;
            dt {
                font-weight: 500;
                font-size: 13px;
            }
            dd {
                font-weight: 700;
                font-size: 22px;
                margin-bottom: 5px;
                display: inline-block;
            }
            a {
                display: block;
                font-size: 13px;
                font-weight: 500;
                color: #4a4a4a;
                i {
                    padding-right: 5px;
                }
            }
        }
    }
}

.check-list {
    dl {
        dd {
            padding: 10px;
            margin: 10px 4px;
            border-radius: 4px;
            div {
                font-size: 11px;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                color: #4a4a4a;
                position: absolute;
                bottom: -10px;
            }
            i {
                font-size: 18px;
            }
            &.y {
                background: $brand-secondary-3;
                color: $brand-secondary-3-font;
            }
            &.n {
                background: $brand-secondary-1;
                color: #fff;
            }
        }
    }
}

.pulse {
    animation: pulse 8s infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    will-change: pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.02);
    }
    10% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

// .summary-group {
//     display: flex;
//     -webkit-flex-flow: row wrap;
//     justify-content: center;
//     border-radius: 4px;
//     background: $brand-light-grey;
//     dl {
//         margin-bottom: 0;
//         padding: 14px 7px;
//         dt {
//             font-weight: 500;
//             font-size: 13px;
//             padding-bottom: 5px;
//         }
//         dd {
//             font-weight: 700;
//             font-size: 22px;
//         }
//     }
// }