$circle: 3.5vw;

.circle {
    position: relative;
}

.circle-primary {
    margin: 0 auto;
    width: $circle*10;
    height: $circle*10;
    border-radius: 50%;
    background-color: #fff;
    border: $circle/4 solid $brand-primary-3
}

.circle-secondary {
    margin: 0 auto;
    width: $circle*6;
    height: $circle*6;
    border-radius: 50%;
    background-color: $brand-primary-1;
    border: $circle/4 solid #fff;
    margin-top: -10%;
}

.circle-inner  {
    text-align: center;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
}

.circle-primary .circle-amount p {
    margin: 0;
    font-size: $circle*2;
    font-weight: 700;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    color: $brand-primary-3-font;
}

.circle-secondary .circle-amount p {
    margin: 0;
    font-size: $circle*1.25;
    font-weight: 700;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.circle-secondary .circle-amount span {
    font-size: $circle/2;
}

@media(min-width:768px) {
    
    .circle-primary {
        margin: 0 auto;
        width: $circle*6;
        height: $circle*6;
        border-radius: 50%;
        background-color: #fff;
        border: $circle/6 solid $brand-primary-3
    }

    .circle-secondary {
        width: $circle*4;
        height: $circle*4;
        border: $circle/6 solid #fff;
        float: right;
        margin-top: -12.5%;
        margin-right: 25%;
    }

    .circle-primary .circle-amount p {
        font-size: $circle*1.5;
    }

    .circle-secondary .circle-amount p {
        font-size: $circle*0.8;
    }

    .circle-secondary .circle-amount span {
        font-size: $circle/2;
    }
}