.circle-container {
    margin: 40px 0 0 0;
    min-height: 370px;
    a {
        cursor: default;
        &:hover {
            color: $brand-blue;
        }
    }
}

.circle-primary {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 5px $brand-yellow;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 10px $brand-yellow;
        color: $brand-blue !important;
    }
}

.circle-secondary {
    margin: -75px auto 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $brand-blue;
    border: 5px solid #fff;
    -webkit-transition: width 0.25s ease, height 0.25s ease;
    transition: width 0.25s ease, height 0.25s ease;
}

.circle-inner {
    text-align: center;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    h2 {
        margin: 0;
        font-weight: 700;
        padding: 0 5px;
    }
}

.circle-primary .circle-amount p {
    font-size: 55px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: $brand-yellow-font;
}

.circle-secondary .circle-amount p {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.circle-secondary .circle-amount span {
    font-size: 20px;
}

@media(min-width:992px) {
    .circle-primary {
        height: 270px;
        width: 270px;
        padding-top: 5px;
    }
    .circle-secondary {
        height: 170px;
        width: 170px;
        margin-right: 10%;
        margin-top: -20%;
        float: right;
    }
    .circle-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .circle-container {
        margin-bottom: 0;
    }
    .circle-primary .circle-amount p {
        font-size: 60px;
    }
    .circle-secondary .circle-amount p {
        font-size: 40px;
    }
    .circle-secondary .circle-amount span {
        font-size: 25px;
    }
}

////////////// New Summary //////////////////
.new-summary {
    .radial-progress {
        svg {
            z-index: 10;
            position: absolute;
            top: 0;
            .radial {
                fill: transparent;
                stroke: $brand-dark-grey;
                stroke-width: 6;
                stroke-miterlimit: 10;
                z-index: -1;
            }
            .progress {
                fill: transparent;
                stroke: $brand-blue;
                stroke-width: 8;
                stroke-miterlimit: 10;
            }
        }
    }
    .ob-btn-group {
        padding: 0 20px;
        &.full-width {
            display: inline-flex;
            flex-flow: row nowrap;
            flex-basis: auto;
            justify-content: center;
        }
        li {
            list-style: none;
            padding: 15px 0;
            overflow: hidden;
            position: relative;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            &:hover {
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
                outline: 0;
            }
            &:first-child {
                border-radius: 6px 0 0 6px;
            }
            &:last-child {
                border-radius: 0 6px 6px 0;
            }
        }
        .ob-btn {
            font-size: 15px;
            cursor: pointer;
            &.ob-btn-toggle {
                background: $brand-light-grey;
                color: #4a4a4a;
                border-radius: 0;
                text-decoration: none;
                transition: .3s ease-out;
            }
        }
    }
}

.ripple {
    display: block;
    position: absolute;
    background: lighten($brand-dark-blue, 30);
    border-radius: 100%;
    transform: scale(0);
}

.ripple.animate {
    animation: ripple 0.5s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}