.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $brand-light-grey;
}

.ob-table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $brand-light-grey;
}

.theme-default {
    all: unset;
}

.modal-table {
    padding-bottom: 10px !important;
}

.table {
    padding-bottom: 30px;
    tbody {
        th {
            border-top: none !important;
            padding: 20px 4px;
        }
        td {
            border-top: none !important;
            font-weight: 700;
        }
        td:nth-child(2) {
            color: $brand-blue;
        }
    }
}

.ob-table {
    padding-bottom: 30px;
    tbody {
        th {
            border-top: none;
            padding: 10px;
            background-color: #fff;
        }
        td {
            border-top: none;
            color: #4a4a4a;
            padding: 5px 10px;
            width:50%
        }
    }
}