.payment {
    padding: 0;
}

.payment-textbox {
    height: 427px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .x-large {
        font-size: 50px;
        color: #4a4a4a;
        font-weight: 700;
    }
    .large {
        font-size: 25px !important;
        font-weight: 700;
        color: #4a4a4a/*?????????? stu //*/
    }
    .large-blue {
        font-size: 30px;
        font-weight: 700;
        color: $brand-blue/*?????????? stu //*/
    }
    .medium {
        font-size: 25px;
        font-weight: 700;
    }
    .small {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.53;
        color: $brand-blue;
    }
    hr.dash {
        margin: 5px 0;
        width: 30px;
        border: solid 1px $brand-blue;
        text-align: left;
    }
    .btn-black-hollow {
        margin: 0;
    }
    hr.dotted-line {
        border: none;
        border-top: 4px dotted #cfcfcf;
        /*??? stu //*/
        margin: 30px auto 0 auto;
        width: 95%;
        visibility: visible;
        opacity: 1;
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        -webkit-transition-delay: .25s;
        transition-delay: .25s;
    }
    .fa-calendar-o {
        color: $brand-blue;
    }
    .payment-day {
        p {
            display: inline;
            position: absolute;
        }
    }
    ol,
    ul {
        margin: 0;
        li {
            padding: 0 0 0 10px;
        }
    }
}

.payment-textbox-active {
    height: 427px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s ease-in-out 0.25s, opacity 0.25s ease-in-out;
    transition: visibility 0s ease-in-out 0.25s, opacity 0.25s ease-in-out;
    margin-top: -447px;
    box-shadow: none;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .medium {
        font-size: 25px;
        font-weight: 700;
    }
    .small {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.53;
        color: $brand-blue;
    }
    hr.dash {
        margin: 5px 0;
        width: 30px;
        border: solid 1px $brand-blue;
        text-align: left;
    }
    .btn-black-hollow {
        margin: 20px 0 0 0;
    }
    .btn-green {
        margin: 20px 0 0 0;
    }
    .payment-day {
        p {
            display: inline;
            position: absolute;
        }
    }
    ol,
    ul {
        margin: 0;
        li {
            padding: 0 0 0 10px;
        }
    }
}

#change-payment-top,
#change-payment-bottom {
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

#change-payment-top.payment-active {
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    display: block;
    transition-delay: 0s;
}

#change-payment-bottom.payment-active {
    transform: translate(0, 120%);
    -webkit-transform: translate(0, 120%);
    -o-transform: translate(0, 120%);
    -moz-transform: translate(0, 120%);
    display: block;
    transition-delay: 0s;
}

#change-payment-dotted-line.payment-active {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s ease-in-out 0.25s, opacity 0.25s ease-in-out;
    transition: visibility 0s ease-in-out 0.25s, opacity 0.25s ease-in-out;
}

#change-payment-active.payment-active {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

.recent-history-textbox {
    height: 90px;
    border-radius: 3px;
}

.textbox-white {
    background-color: #fff;
    border: none;
}

.textbox-yellow {
    background-color: #fff;
    border: solid 2px $brand-yellow;
}

@media (min-width: 480px) {
    .large {
        font-size: 30px !important;
    }
}