.payment {
    padding: 0;
}

.payment-textbox {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .x-large {
        font-size: 50px;
        color: #4a4a4a;
        font-weight: 700;
    }
    .large {
        font-size: 25px !important;
        font-weight: 700;
        color: #4a4a4a/*?????????? stu //*/
    }
    .large-blue {
        font-size: 30px;
        font-weight: 700;
        color: $brand-blue/*?????????? stu //*/
    }
    .medium {
        font-size: 25px;
        font-weight: 700;
    }
    .small {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.53;
        color: $brand-blue;
    }
    hr.dash {
        margin: 5px 0;
        width: 30px;
        border: solid 1px $brand-blue;
        text-align: left;
    }
    .payment-day {
        p {
            display: inline;
            position: absolute;
        }
    }
    ol,
    ul {
        margin: 0;
        li {
            padding: 0 0 0 10px;
        }
    }
    .submitted-container {
        .submitted-title {
            float: left;
            width: 15%;
            margin-top: 5px;
        }
        .submitted-body {
            float: left;
            width: 85%;
            .body-sm {
                color: $brand-secondary-2;
            }
        }
    }
}

.recent-history-textbox {
    height: 90px;
    border-radius: 3px;
}

.textbox-white {
    background-color: #fff;
    border: none;
}

.textbox-yellow {
    background-color: #fff;
    border: solid 2px $brand-yellow;
}

.change-payment-textbox {
    background-color: #fff;
    box-shadow: none;
    .modal-header {
        p {
            padding: 0 60px 40px;
            margin-top: -25px;
            margin-bottom: 0;
        }
        hr.dash {
            visibility: hidden;
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .medium {
        font-size: 25px;
        font-weight: 700;
    }
    .small {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.53;
        color: $brand-blue;
    }
    hr.dash {
        margin: 5px 0;
        width: 30px;
        border: solid 1px $brand-blue;
        text-align: left;
    }
    button .icon-cross {
        display: none;
    }
    button .fa-chevron-left {
        margin-top: 8px;
    }
    .payment-day {
        p {
            display: inline;
            position: absolute;
        }
    }
    ol,
    ul {
        margin: 0;
    }
    .payment-navigation {
        background-color: #fff;
        bottom: 0;
        width: 100%;
        position: fixed;
        li {
            display: block;
            padding: 20px 0;
        }
        a {
            width: 95%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 480px) {
    .large {
        font-size: 30px !important;
    }
}

@media (min-width: 768px) {
    .change-payment-textbox {
        .modal-header {
            padding: 50px 30px 30px;
            p {
                padding: 0;
            }
            hr.dash {
                visibility: visible;
            }
            button .fa-chevron-left {
                display: none;
            }
            button .icon-cross {
                display: block;
                position: fixed;
                right: 15px;
                color: $brand-secondary-2;
            }
        }
        .payment-navigation {
            position: relative;
            a {
                width: 30%;
                cursor: pointer;
            }
        }
        .payment-textbox {
            .submitted-container {
                .submitted-title {
                    width: 5%;
                    text-align: center;
                }
                .submitted-body {
                    width: 80%;
                    padding-left: 10px;
                }
            }
        }
        .payment-navigation {
            position: relative !important;
        }
    }
}

@media (max-width: 320px) {
    .change-payment-textbox .modal-header .header-icon {
        display: none;
    }
}