a {
    text-decoration: underline;
}

code {
    color: #fff;
    background-color: $brand-primary-1;
    border-radius: 0px;
}

.theme-header {
    color: $brand-primary-1;
}

// h1,h2,h3,h4,h5,h6 {
//     line-height: 1.4;
// }

// .theme-light //

.theme-light *{
    background-color: #fff;
    color: $brand-primary-1;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.theme-light a {
    color: $brand-primary-1;
}

.theme-light code {
    background-color: $brand-primary-1;
}

// .theme-dark //

.theme-dark *{
    background-color: $brand-primary-1;
    color: #fff;
}

.theme-dark a {
    color: $brand-primary-3;
}

.theme-dark code {
    color: $brand-primary-1;
    background-color: $brand-primary-3;
}

// .theme-warning //

.theme-warning *{
    background-color: $brand-primary-3 !important;
    color: $brand-primary-3-font !important;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.theme-warning a {
    color: $brand-primary-3-font;
}

.theme-warning code {
    color: #fff;
    background-color: $brand-primary-3-font;
}

// .theme-error //

.theme-error *{
    background-color: $brand-secondary-1 !important;
    color: #fff !important;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.theme-error a {
    color: #fff;
}

.theme-error code {
    color: $brand-secondary-1;
    background-color: #fff;
}

// .theme-success //

.theme-success *{
    background-color: $brand-secondary-3;
    color: $brand-secondary-3-font;
}

.theme-success {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-success a {
    color: $brand-secondary-3-font;
}

.theme-success code {
    color: #fff;
    background-color: $brand-secondary-3-font;
}