a {
    text-decoration: underline;
}

code {
    color: #fff;
    background-color: $brand-primary-1;
    border-radius: 0px;
}

.theme-header {
    color: $brand-primary-1;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.theme-light * {
    background-color: #fff;
    color: $brand-primary-1;
}

.theme-light a {
    color: $brand-primary-1;
}

.theme-light code {
    background-color: $brand-primary-1;
    color: #fff;
}


/* .theme-dark //*/

.theme-dark * {
    background-color: $brand-primary-1;
    color: #fff;
}

.theme-dark a {
    color: $brand-primary-3;
}

.theme-dark code {
    color: $brand-primary-1;
    background-color: $brand-primary-3;
}


/* .theme-warning //*/

.theme-warning * {
    background-color: $brand-primary-3;
    color: $brand-primary-3-font;
}

.theme-warning a {
    color: $brand-primary-3-font;
}

.theme-warning code {
    color: #fff;
    background-color: $brand-primary-3-font;
}


/* .theme-error //*/

.theme-error * {
    background-color: $brand-secondary-1;
    color: #fff !important;
}

.shake {
    -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

.theme-error a {
    color: #fff;
}

.theme-error code {
    color: $brand-secondary-1 !important;
    ;
    background-color: #fff;
}


/* .theme-success //*/

.theme-success * {
    background-color: $brand-secondary-3;
    color: $brand-secondary-3-font;
}

.theme-success {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.theme-success a {
    color: $brand-secondary-3-font;
}

.theme-success code {
    color: #fff;
    background-color: $brand-secondary-3-font;
}

.font-light {
    color: $brand-primary;
}

.font-dark {
    color: #fff;
}

.modal-error {
    width: 100% !important;
    height: 100% !important;
    background-color: $brand-secondary-1 !important;
}

.modal-warning {
    width: 100% !important;
    height: 100% !important;
    background-color: $brand-primary-3 !important;
}