    .toast {
        width: 100%;
        border-radius: 3px;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 100;
        &.up {
            transform: translateY(150%);
        }
        &.up.in {
            transform: translateY(0%);
        }
        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 100;
            background-color: transparent;
        }
        .toast-container {
            margin: 20px auto 40px auto;
            .toast-body {
                margin-top: 10px;
                text-align: center;
                p {
                    margin: 5px auto;
                }
                p:first-child {
                    padding: 0 30px;
                }
                p:last-child {
                    padding: 0 20px;
                }
            }
            .toast-icon {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
    
    @media(min-width:768px) {
        .toast {
            width: 568px;
            right: 20px;
            bottom: 20px;
            .toast-container {
                margin: 20px auto 20px auto;
                .toast-body {
                    margin: 0 0 0 -20px;
                    text-align: left;
                    p {
                        margin: 5px auto;
                    }
                    p:first-child {
                        padding: 0;
                    }
                    p:last-child {
                        padding: 0;
                    }
                }
                .toast-icon {
                    margin-top: 10px;
                }
            }
        }
    }
    
    .toast-generic {
        background-color: $brand-light-grey;
        color: $brand-blue;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        p {
            color: $brand-blue;
        }
        .close {
            i.icon-cross {
                color: $brand-secondary-3-font;
            }
        }
        .toast-container {
            margin-bottom: 20px;
            .toast-body {
                @include bp(md) {
                    margin: 0 0 0 20px;
                }
            }
        }
    }
    
    .toast.toast-success {
        background-color: $brand-light-grey;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        color: $brand-secondary-3;
        p {
            color: $brand-secondary-3-font;
        }
        .close {
            i.icon-cross {
                color: $brand-secondary-3-font;
            }
        }
    }
    
    .toast-fail {
        background-color: $brand-light-grey;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        color: $brand-secondary-1;
        p {
            color: #CF1634;
        }
        .close {
            i.icon-cross {
                color: #CF1634;
            }
        }
    }
    
    .toast-fade-out {
        -webkit-animation: fade-out-7 linear 7s;
        animation: fade-out-7 linear 7s;
        @-webkit-keyframes fade-out-7 {
            0% {
                opacity: 1;
            }
            95% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @keyframes fade-out-7 {
            0% {
                opacity: 1;
            }
            95% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
    
    .header-toast {
        width: 100%;
        height: 50px;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        background: #fff;
        z-index: 105;
        @include translateY(-150px);
        @include ob-transition-transform(ease-in-out, 0.25s);
        ng-component {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        p {
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            padding: 0 10px;
            margin: 0 auto;
            span {
                font-weight: 700;
                font-size: 13px;
            }
            a {
                display: block;
                @include bp(md) {
                    display: inline;
                }
            }
        }
        .close {
            background-color: transparent;
            position: relative;
            right: 0;
            top: 0;
            text-decoration: none;
            cursor: pointer;
            font-size: 13px;
        }
        &.toast-success {
            background: $brand-secondary-3;
            color: $brand-secondary-3-font;
        }
        &.toast-error {
            background: $brand-secondary-1;
            color: #fff;
        }
        &.toast-info {
            background: $brand-light-grey;
        }
        @include bp(md) {
            @include translateY(-50px);
        }
        &.header-toast-collapse {
            @include translateY(-100px);
            @include bp(sm) {
                @include translateY(-100px);
            }
            @include bp(md) {
                @include translateY(0);
            }
        }
    }
    
    .page-collapse {
        .navbar-off-canvas {
            .navbar,
            .off-canvas,
            #navbar-icon {
                @include translateY(0);
            }
            .navbar,
            #navbar-icon {
                @include ob-transition-transform(ease-in-out, 0.25s);
            }
        }
        .content-container {
            @include translateY(0);
            @include ob-transition-transform(ease-in-out, 0.25s);
        }
        &.in {
            .navbar-off-canvas {
                .navbar,
                .off-canvas,
                #navbar-icon {
                    @include translateY(50px);
                }
            }
            .content-container {
                @include translateY(50px);
            }
        }
    }