.body-lg {
    font-size: 18px;
}

.body-md {
    font-size: 15px;
}

.body-sm {
    font-size: 13px;
}

.body-xs {
    font-size: 11px;
}

.no-m-t-b {
    margin: 0 auto;
}

.no-m-t {
    margin-top: 0px;
}