.body-lg {
    font-size: 18px;
}

.body-md {
    font-size: 15px;
}

.body-sm {
    font-size: 13px;
}

.body-xs {
    font-size: 11px;
}

.normal-weight {
	font-weight: normal;
}

.underline {
	text-decoration: underline;
}