<div class="panel ob-panel-default" id="PanelAddress">
    <div class="panel-heading" role="tab" id="headingOne">
        <div class="panel-btn pull-right">
            <a class="btn btn-black-hollow" data-toggle="collapse" href="#PanelAddressEdit" id="PanelAddressToggle">Change</a>
            <a data-toggle="collapse" href="#PanelAddressEdit" id="PanelAddressToggleMob"><i class="fa fa-pencil fa fa-lg"></i></a>
        </div>
        <h4 class="panel-title">
        Current address
        </h4>
        <hr class="dash">
    </div>
    <div id="PanelAddressEdit" class="panel-active panel-collapse collapse">
        <div class="panel-body">
            <h4 class="form-heading">Search for your address</h4>
            <form>
                <div class="ob-form-group empty">
                    <div class="col-xs-9 p-r-5">
                        <input type="text" class="ob-form-input" id="AddressPostcodeInput" required>
                        <label for="AddressPostcodeInput">Postcode</label>
                    </div>
                    <button class="btn btn-search m-0 p-0">
                        <i class="fa fa-search fa-lg color-white"></i>
                    </button>
                </div>
                <div class="ob-form-group empty">
                    <input type="text" class="ob-form-input" id="AddressFlatInput" required>
                    <label for="AddressFlatInput">Flat</label>
                </div>
                <div class="ob-form-group empty">
                    <input type="text" class="ob-form-input" id="AddressHouseNameInput" required>
                    <label for="AddressHouseNameInput">House name</label>
                </div>
                <div class="ob-form-group empty">
                    <input type="text" class="ob-form-input" id="AddressHouseNumberInput" required>
                    <label for="AddressHouseNumberInput">House number</label>
                </div>
                <div class="ob-form-group empty">
                    <input type="text" class="ob-form-input" id="AddressStreetNameInput" required>
                    <label for="AddressStreetNameInput">Street name</label>
                </div>
                <div class="ob-form-group empty">
                    <input type="text" class="ob-form-input" id="AddressCityInput" required>
                    <label for="AddressCityInput">City / Town</label>
                </div>
                <div class="ob-form-group empty has-error">
                    <input type="text" class="ob-form-input" id="AddressCountyInput" required>
                    <label for="AddressCountyInput">County</label>
                </div>
                <ul>
                    <li class="form-btn"> <a class="btn btn-black-hollow">Cancel</a> </li>
                    <li class="form-btn"> <a class="btn btn-primary-1">Update</a></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="panel-collapse collapse in" id="PanelAddressHeader">
        <div class="panel-body">
            <strong>45 Wollaton Street</strong>, Nottingham, <span class="nowrap">NG1 5FW</span>
        </div>
    </div>
</div>