<div class="header">
<h3 id="body">
    Body
</h3>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Headings: 'Montserrat', sans-serif</h3>
        <h1>Lorem ipsum dolor sit amet - 35px</h1>
        <h2>Lorem ipsum dolor sit amet - 30px</h2>
        <h3>Lorem ipsum dolor sit amet - 25px</h3>
        <h4>Lorem ipsum dolor sit amet - 20px</h4>
    </div>
</div>
<br>
<p class="body-lg"><code>.body-lg</code> Body: 'Source Sans Pro', sans-serif - 18px</p>

<p class="body-md"><code>.body-md</code>Lorem ipsum dolor sit amet - 15px</p>
<p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
</p>
<p>
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor
    fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper
    nulla non metus auctor fringilla.</p>
<p>
    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis,
    est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
</p>

<p class="text-left"> <code>.text-left</code></p>
<p class="text-center"> <code>.text-center</code></p>
<p class="text-right"> <code>.text-right</code></p>
<p class="text-justify"> <code>.text-justify</code> Lorem ipsum dolor sit amet</p>
<p class="text-nowrap"> <code>.text-nowrap</code> Lorem ipsum dolor sit amet</p>
<p class="text-lowercase"> <code>.text-lowercase</code> Lorem ipsum dolor sit amet</p>
<p class="text-uppercase"> <code>.text-uppercase</code> Lorem ipsum dolor sit amet</p>
<p class="text-capitalize"> <code>.text-capitalize</code> Lorem ipsum dolor sit amet</p>
<hr class="invisible-hr">