<div class="full-width-list">
	<ul class="list-group">
		<li class="list-group-item m-b-10"><i class="fa icon-tick color-green p-r-10"></i><span>You won't need to complete the full application process</span></li>
		<li class="list-group-item m-b-10"><i class="fa icon-tick color-green p-r-10"></i><span>The application won't affect your credit score</span></li>
		<li class="list-group-item m-b-10"><i class="fa icon-tick color-green p-r-10"></i><span>If approved your new loan will include your current loan balance</span></li>
	</ul>
</div>
