<div class="header">
	<h3 id="full-width-panel">
		Bullet Points
	</h3>
</div>
	<div class="full-width-list" id="bullet-points">
		<ul class="custom-bullets">
			<li class="m-b-15">
				<i class="fa icon-tick color-green p-r-10"></i> You won't need to complete the full application process
			</li>
			<li class="m-b-15">
				<i class="fa icon-tick color-green p-r-10"></i> The application won't affect your credit score
			</li>
			<li class="m-b-15">
				<i class="fa icon-tick color-green p-r-10"></i> If approved your new loan will include your current loan balance
			</li>
		</ul>
	</div>
 <hr> 