<h2 id="buttons">
    Buttons
</h2>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary-1">
                Primary Button Style 1
            </button>
        <button class="btn btn-primary-2">
                Primary Button Style 2
            </button>
        <button class="btn btn-primary-3">
                Primary Button Style 3
            </button>
    </div>
</div>
<br>


<pre><code class="html">&lt;button class=&quot;btn btn-primary-1&quot;&gt;Primary Button Style 1&lt;/button&gt;
&lt;button class=&quot;btn btn-primary-2&quot;&gt;Primary Button Style 2&lt;/button&gt;
&lt;button class=&quot;btn btn-primary-3&quot;&gt;Primary Button Style 3&lt;/button&gt;</code></pre>
<hr>