<h1 id="buttons" class="page-header">
    Buttons
</h1>

<div class="ob-example">
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-default">
                Default
            </button>
            <button class="btn btn-primary">
                Primary
            </button>
            <button class="btn btn-success">
                Success
            </button>
            <button class="btn btn-warning">
                Warning
            </button>
            <button class="btn btn-danger">
                Danger
            </button>
            <button class="btn btn-info">
                Info
            </button>
        </div>
    </div>
</div>

<pre>&lt;!-- Standard button --><br />&lt;button class="btn btn-default">Default&lt;/button><br /><br />&lt;!-- Provides extra visual weight and identifies the primary action in a set of buttons --><br />&lt;button class="btn btn-primary">Primary&lt;/button><br /><br />&lt;!-- Indicates a successful or positive action --><br />&lt;button class="btn btn-success">Success&lt;/button><br /><br />&lt;!-- Indicates caution should be taken with this action --><br />&lt;button class="btn btn-warning">Warning&lt;/button><br /><br />&lt;!-- Indicates a dangerous or potentially negative action --><br />&lt;button class="btn btn-danger">Danger&lt;/button><br /><br />&lt;!-- Deemphasize a button by making it look like a link while maintaining button behavior --><br />&lt;button class="btn btn-link">Link&lt;/button><br /><br />&lt;!-- Contextual button for informational alert messages --><br />&lt;button class="btn btn-info">Info&lt;/button></pre>