<div class="calendar-carousel">
    <div class="carousel-navigation">
        <a class="prev">
            <span class='fa-stack fa-lg'><i class='fa fa-circle-o fa-stack-2x color-grey'></i><i class='fa fa-chevron-left fa-stack-1x color-grey'></i></span>
        </a>
        <a class="next">
            <span class='fa-stack fa-lg'><i class='fa fa-circle-o fa-stack-2x color-grey'></i><i class='fa fa-chevron-right fa-stack-1x color-grey'></i></span>
        </a>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> 1st </div>
            <div class="swiper-slide"> 2nd </div>
            <div class="swiper-slide"> 3rd </div>
            <div class="swiper-slide"> 4th </div>
            <div class="swiper-slide"> 5th </div>
            <div class="swiper-slide"> 6th </div>
            <div class="swiper-slide"> 7th </div>
            <div class="swiper-slide" id="calendar-carousel-date-active"> 8th </div>
            <div class="swiper-slide"> 9th </div>
            <div class="swiper-slide"> 10th </div>
            <div class="swiper-slide"> 11th </div>
            <div class="swiper-slide"> 12th </div>
            <div class="swiper-slide"> 13th </div>
            <div class="swiper-slide"> 14th </div>
            <div class="swiper-slide" id="calendar-carousel-date-disabled"> 15th </div>
            <div class="swiper-slide"> 16th </div>
            <div class="swiper-slide"> 17th </div>
            <div class="swiper-slide"> 18th </div>
            <div class="swiper-slide"> 19th </div>
            <div class="swiper-slide"> 20th </div>
            <div class="swiper-slide"> 21st </div>
            <div class="swiper-slide"> 22nd </div>
            <div class="swiper-slide"> 23rd </div>
            <div class="swiper-slide"> 24th </div>
            <div class="swiper-slide"> 25th </div>
            <div class="swiper-slide"> 26th </div>
            <div class="swiper-slide"> 27th </div>
            <div class="swiper-slide"> 28th </div>
            <div class="swiper-slide"> 29th </div>
            <div class="swiper-slide"> 30th </div>
            <div class="swiper-slide"> 31st </div>
        </div>
    </div>
    <div class="calendar-chevron text-center" id="calendar-carousel-chevron"><i class="color-blue fa fa-chevron-up fa-2x" aria-hidden="true"></i></div>
</div>