<div class="header">
    <h3 id="full-width-panel">
        Checkbox
    </h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ob-checkbox checkbox">
            <div class="ob-checkbox-input">
                <input type="checkbox" value="1" id="checkboxTest"/>
                <label for="checkboxTest">
                    <span class="body-sm">
                        I confirm that I have read and understood the Loan pre-contract information, that all the details given in the application are true and complete, 
                        and that I have given consideration to how I will make these payments without falling into financial difficulties.
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
<hr>