<div class="header">
    <h3 id="full-width-panel">
        Checkbox
    </h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ob-checkbox">
            <div class="ob-checkbox-input">
                <input type="checkbox" value="1" id="checkboxTest" />
                <label for="checkboxTest">
                </label>
            </div>
            <div class="ob-checkbox-info">
                <label for="checkboxTest">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facere quo molestias suscipit tempora libero placeat, cumque reprehenderit odio saepe necessitatibus obcaecati aliquam, non nesciunt impedit mollitia? Veritatis, in, nobis.                            
                    </label>
            </div>
        </div>
    </div>
</div>
<hr>