<h2 id="colour-palette">
    Colour Palette
</h2>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-primary">
            </div>
            <div class="bg-primary">
                <div class="colour-bg-caption caption">
                    <h4>$brand-primary</h4>
                    <p>#005BC6
                        <p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-secondary">
            </div>
            <div class="bg-secondary">
                <div class="colour-bg-caption caption">
                    <h4>$brand-secondary</h4>
                    <p>#FFB914
                        <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-success">
            </div>
            <div class="bg-success">
                <div class="colour-bg-caption caption">
                    <h4>$brand-success</h4>
                    <p>#35D06A
                        <p>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-warning">
            </div>
            <div class="bg-warning">
                <div class="colour-bg-caption caption">
                    <h4>$brand-warning</h4>
                    <p>#FAB841
                        <p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-error">
            </div>
            <div class="bg-error">
                <div class="colour-bg-caption caption">
                    <h4>$brand-error</h4>
                    <p>#DA3A52
                        <p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 id="colour-hue">
    Colour Hue
</h2>
<div class="row">
    <div class="col-sm-4">

        <ul class="bg-primary colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-primary</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>

    <div class="col-sm-4">

        <ul class="bg-secondary colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-secondary</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>

    <div class="col-sm-4">

        <ul class="bg-success colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-success</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>
</div>

</div>
<hr class="hr-invisible">