<div class="header">
<h2 id="colour-hue">
    Colour Hue
</h2>
</div>
<div class="row">
    <div class="col-sm-4">

        <ul class="bg-primary colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-primary</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>

    <div class="col-sm-4">

        <ul class="bg-secondary colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-secondary</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>

    <div class="col-sm-4">

        <ul class="bg-success colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-success</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>
</div>
<hr>