<div class="header">
<h2 id="colour-palette">
    Colour Palette
</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-primary-1">
            </div>
            <div class="bg-primary-1">
                <div class="colour-bg-caption caption">
                    <h4>$brand-primary-1</h4>
                    <p>#005BC6
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-primary-2">
            </div>
            <div class="bg-primary-2">
                <div class="colour-bg-caption caption">
                    <h4>$brand-primary-2</h4>
                    <p>#162A53
                        </p>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-primary-3">
            </div>
            <div class="bg-primary-3">
                <div class="colour-bg-caption caption">
                    <h4>$brand-primary-3</h4>
                    <p>#FCB829
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-secondary-1">
            </div>
            <div class="bg-secondary-1">
                <div class="colour-bg-caption caption">
                    <h4>$brand-secondary-1</h4>
                    <p>#DE344F
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-secondary-2">
            </div>
            <div class="bg-secondary-2">
                <div class="colour-bg-caption caption">
                    <h4>$brand-secondary-2</h4>
                    <p>#767676
                        </p>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-secondary-3">
            </div>
            <div class="bg-secondary-3">
                <div class="colour-bg-caption caption">
                    <h4>$brand-secondary-3</h4>
                    <p>#33D167
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-tint-1">
            </div>
            <div class="bg-tint-1">
                <div class="colour-bg-caption caption">
                    <h4>$brand-tint-1</h4>
                    <p>#FOEDC8
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-tint-2">
            </div>
            <div class="bg-tint-2">
                <div class="colour-bg-caption caption">
                    <h4>$brand-tint-2</h4>
                    <p>#E3DFDA
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>