<h2 id="colour-palette">
    Colour Palette
</h2>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-primary">
            </div>
            <div class="bg-primary">
                <div class="colour-bg-caption caption">
                    <h4>$brand-primary</h4>
                    <p>#3399DB
                        <p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-success">
            </div>
            <div class="bg-success">
                <div class="colour-bg-caption caption">
                    <h4>$brand-success</h4>
                    <p>#2DCC70
                        <p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-warning">
            </div>
            <div class="bg-warning">
                <div class="colour-bg-caption caption">
                    <h4>$brand-warning</h4>
                    <p>#FDB728
<p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <div class="colour-palette bg-danger">
            </div>
            <div class="bg-danger">
                <div class="colour-bg-caption caption">
                    <h4>$brand-danger</h4>
                    <p>#FF3203
                        <p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 id="colour-hue">
    Colour Hue
</h2>
<div class="row">
    <div class="col-sm-4">

        <ul class="bg-primary colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-primary</h4> 
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>

    <div class="col-sm-4">

        <ul class="bg-success colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-success</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>

    <div class="col-sm-4">

        <ul class="bg-warning colour-hue-gradient">
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container">
                <h4>$brand-warning</h4>
            </li>
            <li class="colour-hue-container"></li>
            <li class="colour-hue-container"></li>
        </ul>
    </div>
</div>

</div>
<hr>