<footer class="footer-distributed">
    <div class="row footer-top-row">
        <div class="col-md-9 footer-links text-muted text-right body-sm">
            <a href="https://likelyloans.com/" target="_blank">Personal loans</a>
            <a href="https://likelyloans.com/contact-us" target="_blank">Contact us</a>
            <a href="https://likelyloans.com/terms-of-use" target="_blank">Terms of use</a>
            <a href="https://likelyloans.com/privacy-policy" target="_blank">Privacy policy</a>
            <a href="https://likelyloans.com/sitemap" target="_blank">Site map</a>
        </div>
        <div class="col-md-3">
            <div class="footer-img">
                <img src="/img/LikelyLoansFooter.svg">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-muted body-xs">
            <p>Likely Loans is a trading name of Oakbrook Finance Limited, Registered in England and Wales No. 07831517. Registered
                Office: The Poynt North, 45 Wollaton Street, Nottingham, NG1 5FW. Authorised and regulated by the Financial
                Conduct Authority, 25 N Colonnade, London E14 5HS</p>
        </div>
    </div>
</footer>