<div class="grid">
    <h2 id="grid">
        Grid
    </h2>

    <ul>
        <li>Rows must be placed within a <code>.container</code> (fixed-width) or <code>.container-fluid</code> (full-width)
            for proper alignment and padding.</li>
        <li>Use rows to create horizontal groups of columns.</li>
        <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
        <li>Predefined grid classes like <code>.row</code> and <code>.col-xs-4</code> are available for quickly making grid layouts.
            Less mixins can also be used for more semantic layouts.</li>
        <li>Columns create gutters (gaps between column content) via <code>padding</code>. That padding is offset in rows for
            the first and last column via negative margin on <code>.row</code>s.</li>
        <li>The negative margin is why the examples below are outdented. It's so that content within grid columns is lined up
            with non-grid content.</li>
        <li>Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three
            equal columns would use three <code>.col-xs-4</code>.</li>
        <li>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto
            a new line.</li>
        <li>Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid
            classes targeted at smaller devices. Therefore, e.g. applying any <code>.col-md-*</code> class to an element
            will not only affect its styling on medium devices but also on large devices if a <code>.col-lg-*</code> class
            is not present.</li>
    </ul>

    <h3>
        Media queries
    </h3>

<pre><code>/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }</code></pre>
    <h3>
        Grid options
    </h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th> Extra small devices <small>Phones (&lt;768px)</small> </th>
                    <th> Small devices <small>Tablets (≥768px)</small> </th>
                    <th> Medium devices <small>Desktops (≥992px)</small> </th>
                    <th> Large devices <small>Desktops (≥1200px)</small> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-nowrap" scope="row">Grid behavior</th>
                    <td>Horizontal at all times</td>
                    <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Container width</th>
                    <td>None (auto)</td>
                    <td>750px</td>
                    <td>970px</td>
                    <td>1170px</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Class prefix</th>
                    <td><code>.col-xs-</code></td>
                    <td><code>.col-sm-</code></td>
                    <td><code>.col-md-</code></td>
                    <td><code>.col-lg-</code></td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row"># of columns</th>
                    <td colspan="4">12</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Column width</th>
                    <td class="text-muted">Auto</td>
                    <td>~62px</td>
                    <td>~81px</td>
                    <td>~97px</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Gutter width</th>
                    <td colspan="4">30px (15px on each side of a column)</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Nestable</th>
                    <td colspan="4">Yes</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Offsets</th>
                    <td colspan="4">Yes</td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row">Column ordering</th>
                    <td colspan="4">Yes</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>
        Containers
    </h3>

<pre><code>&lt;div class=&quot;container&quot;&gt;
  ...
&lt;/div&gt;</code></pre>

    <h3>
        Twelve equal columns (three equal columns on mobile)
    </h3>

    <div class="row">
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
    </div>
 
<pre><code>&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-4 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-xs-1 col-sm-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-1&quot;&gt;.col-md-1 col-sm-1&lt;/div&gt;
&lt;/div&gt;</code></pre>

    <h3>
        Twelve columns with different widths on each device (try resizing the browser)
    </h3>

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
    </div>

<pre><code>&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
  &lt;div class=&quot;col-xs-4 col-sm-3 col-md-2 col-lg-1&quot;&gt;.col-xs-4 col-sm-3 col-md-2 col-lg-1&lt;/div&gt;
&lt;/div&gt;</code></pre>

    <h3>
        Offsetting columns
    </h3>
    <p>Move columns to the right using <code>.col-md-offset-*</code> classes. These classes increase the left margin of a column
        by <code>*</code> columns. For example, <code>.col-md-offset-4</code> moves <code>.col-md-4</code> over four columns.</p>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
        <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
    </div>

<pre><code>&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;.col-md-4&lt;/div&gt;
  &lt;div class=&quot;col-md-4 col-md-offset-4&quot;&gt;.col-md-4 .col-md-offset-4&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-3 col-md-offset-3&quot;&gt;.col-md-3 .col-md-offset-3&lt;/div&gt;
  &lt;div class=&quot;col-md-3 col-md-offset-3&quot;&gt;.col-md-3 .col-md-offset-3&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-md-6 col-md-offset-3&quot;&gt;.col-md-6 .col-md-offset-3&lt;/div&gt;
&lt;/div&gt;</code></pre> 
 
</div>