<div class="grid">
    <h1 id="grid" class="page-header">
        Grid
    </h1>

    <h2>
        Introduction
    </h2> 
    
    <ul>
        <li>Rows must be placed within a <code>.container</code> (fixed-width) or <code>.container-fluid</code> (full-width) for proper alignment and padding.</li>
        <li>Use rows to create horizontal groups of columns.</li>
        <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
        <li>Predefined grid classes like <code>.row</code> and <code>.col-xs-4</code> are available for quickly making grid layouts. Less mixins can also be used for more semantic layouts.</li>
        <li>Columns create gutters (gaps between column content) via <code>padding</code>. That padding is offset in rows for the first and last column via negative margin on <code>.row</code>s.</li>
        <li>The negative margin is why the examples below are outdented. It's so that content within grid columns is lined up with non-grid content.</li>
        <li>Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three equal columns would use three <code>.col-xs-4</code>.</li>
        <li>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.</li>
        <li>Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid classes targeted at smaller devices. Therefore, e.g. applying any <code>.col-md-*</code> class to an element will not only affect its styling on medium devices but also on large devices if a <code>.col-lg-*</code> class is not present.</li>
    </ul>

    <h2>
        Media queries
    </h2>
    
    <pre>/* Extra small devices (phones, &lt;=768px) */
@media (max: @screen-sm-min) { ... }

/* Small devices (tablets, &gt;=768px) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, &gt;=992px) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, &gt;=1200px) */
@media (min-width: @screen-lg-min) { ... }</pre> 

    <h2>
        Grid options
    </h2> 

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                <th></th>
                <th> Extra small devices <small>Phones (&lt;768px)</small> </th>
                <th> Small devices <small>Tablets (≥768px)</small> </th>
                <th> Medium devices <small>Desktops (≥992px)</small> </th>
                <th> Large devices <small>Desktops (≥1200px)</small> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th class="text-nowrap" scope="row">Grid behavior</th>
                <td>Horizontal at all times</td>
                <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Container width</th>
                <td>None (auto)</td>
                <td>750px</td>
                <td>970px</td>
                <td>1170px</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Class prefix</th>
                <td><code>.col-xs-</code></td>
                <td><code>.col-sm-</code></td>
                <td><code>.col-md-</code></td>
                <td><code>.col-lg-</code></td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row"># of columns</th>
                <td colspan="4">12</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Column width</th>
                <td class="text-muted">Auto</td>
                <td>~62px</td>
                <td>~81px</td>
                <td>~97px</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Gutter width</th>
                <td colspan="4">30px (15px on each side of a column)</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Nestable</th>
                <td colspan="4">Yes</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Offsets</th>
                <td colspan="4">Yes</td>
                </tr>
                <tr>
                <th class="text-nowrap" scope="row">Column ordering</th>
                <td colspan="4">Yes</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h2>
        Containers
    </h2>
    
    <pre>&lt;div class="container">
    &lt;div class="row">
        ...
    &lt;/div>
&lt;/div>

&lt;div class="container-fluid"> 
    &lt;div class="row">
        ...
    &lt;/div>
&lt;/div></pre>

    <h2>
        Twelve equal columns on all devices
    </h2>
    
    <div class="row">
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
        <div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1</div>
    </div>

    <pre>&lt;div class="row">
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-11&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-1">.col-xs-4 .col-sm-1&lt;/div>
&lt;/div></pre>

    <h2>
        Twelve columns with different widths on each device (try resizing the browser)
    </h2>
    
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1</div>
    </div>
    
    <pre>&lt;div class="row">
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
    &lt;div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">.col-xs-4 .col-sm-3 .col-md-2 .col-lg-1&lt;/div>
&lt;/div></pre>

    <h2>
        Offsetting columns
    </h2>
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-6">.col-xs-6 .col-xs-6</div>
    </div>
</div>