<div class="header">
    <h3>Headers</h3>
</div>
<p>
    All HTML headings, <code>&lt;h1></code> through <code>&lt;h6></code>, are available. <code>.h1</code> through <code>.h6</code>    classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed
    inline.
</p>
<hr class="invisible-hr">
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default theme-light theme-header">
            <div class="panel-body">
                <p>Theme Light: add the class <code>.theme-light</code> to the parent container.
                    <p>
                        <h1>
                            h1. heading default
                        </h1>
                        <h2>
                            h2. heading default
                        </h2>
                        <h3>
                            h3. heading default
                        </h3>
                        <h4>
                            h4. heading default
                        </h4>
                        <h5>
                            h5. heading default
                        </h5>
                        <h6>
                            h6. heading default
                        </h6>
                        <a href="#">Link</a>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <div class="panel panel-default theme-dark">
            <div class="panel-body">
                <p>Theme Dark: add the class <code>.theme-dark</code> to the parent container.
                    <p>
                        <h1 class="text-primary">
                            h1. heading primary
                        </h1>
                        <h2 class="text-primary">
                            h2. heading primary
                        </h2>
                        <h3 class="text-primary">
                            h3. heading primary
                        </h3>
                        <h4 class="text-primary">
                            h4. heading primary
                        </h4>
                        <h5 class="text-primary">
                            h5. heading primary
                        </h5>
                        <h6 class="text-primary">
                            h6. heading primary
                        </h6>
                        <a href="#">Link</a>
            </div>
        </div>
    </div>
</div>
<hr class="invisible-hr">
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default theme-warning theme-header">
            <div class="panel-body">
                <p>Theme Warning: add the class <code>.theme-warning</code> to the parent container.
                    <p>
                        <h1>
                            h1. heading default
                        </h1>
                        <h2>
                            h2. heading default
                        </h2>
                        <h3>
                            h3. heading default
                        </h3>
                        <h4>
                            h4. heading default
                        </h4>
                        <h5>
                            h5. heading default
                        </h5>
                        <h6>
                            h6. heading default
                        </h6>
                        <a href="#">Link</a>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <div class="panel panel-default theme-error">
            <div class="panel-body">
                <p>Theme Error: add the class <code>.theme-error</code> to the parent container.
                    <p>
                        <h1 class="text-primary">
                            h1. heading primary
                        </h1>
                        <h2 class="text-primary">
                            h2. heading primary
                        </h2>
                        <h3 class="text-primary">
                            h3. heading primary
                        </h3>
                        <h4 class="text-primary">
                            h4. heading primary
                        </h4>
                        <h5 class="text-primary">
                            h5. heading primary
                        </h5>
                        <h6 class="text-primary">
                            h6. heading primary
                        </h6>
                        <a href="#">Link</a>
            </div>
        </div>
    </div>
</div>
<hr class="invisible-hr">
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default theme-success theme-header">
            <div class="panel-body">
                <p>Theme Warning: add the class <code>.theme-success</code> to the parent container.
                    <p>
                        <h1>
                            h1. heading default
                        </h1>
                        <h2>
                            h2. heading default
                        </h2>
                        <h3>
                            h3. heading default
                        </h3>
                        <h4>
                            h4. heading default
                        </h4>
                        <h5>
                            h5. heading default
                        </h5>
                        <h6>
                            h6. heading default
                        </h6>
                        <a href="#">Link</a>
            </div>
        </div>
    </div>
</div>
<hr class="invisible-hr">