<h2 id="headings">
    Headings
</h2>

<p>
    All HTML headings, <code>&lt;h1></code> through <code>&lt;h6></code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.
</p>

<div class="ob-example">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>
                h1. heading default
            </h1>
            <hr />
            <h2>
                h2. heading default
            </h2>
            <hr />
            <h3>
                h3. heading default
            </h3>
            <hr />
            <h4>
                h4. heading default
            </h4>
            <hr />
            <h5>
                h5. heading default
            </h5>
            <hr />
            <h6>
                h6. heading default
            </h6>
        </div>
    </div>
</div>

<pre>&lt;h1>h1. heading default&lt;/h1><br />&lt;h2>h2. heading default&lt;/h2><br />&lt;h3>h3. heading default&lt;/h3><br />&lt;h4>h4. heading default&lt;/h4><br />&lt;h5>h5. heading default&lt;/h5><br />&lt;h6>h6. heading default&lt;/h6></pre>

<p>
    Create primary headings with the <code>.text-primary</code> class.
</p>

<div class="ob-example">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="text-primary">
                h1. heading primary
            </h1>
            <hr />
            <h2 class="text-primary">
                h2. heading primary
            </h2>
            <hr />
            <h3 class="text-primary">
                h3. heading primary
            </h3>
            <hr />
            <h4 class="text-primary">
                h4. heading primary
            <hr />
            </h4>
            <h5 class="text-primary">
                h5. heading primary
            </h5>
            <hr />
            <h6 class="text-primary">
                h6. heading primary
            </h6>
        </div>
    </div>
</div>

<pre>&lt;h1 class="text-primary">h1. heading primary&lt;/h1><br />&lt;h2 class="text-primary">h2. heading primary&lt;/h2><br />&lt;h3 class="text-primary">h3. heading primary&lt;/h3><br />&lt;h4 class="text-primary">h4. heading primary&lt;/h4><br />&lt;h5 class="text-primary">h5. heading primary&lt;/h5><br />&lt;h6 class="text-primary">h6. heading primary&lt;/h6></pre>