<div class="header">
    <h2 id="loader">
        Loader
    </h2>
</div>

<div class="section-container">
    <div class="vcenter-container">
        <div class="loader">
        </div>
    </div>
</div>

<a class="btn btn-showcase btn-primary-1" href="example-loader.html">Example Loader</a>

<pre><code class="html">&lt;div class=&quot;section-container&quot;&gt;
    &lt;div class=&quot;vcenter-container&quot;&gt;
        &lt;div class=&quot;loader&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

<hr>