<div class="modal up" id="important-1" tabindex="-1" data-focus-on="input:first" aria-labelledby="myModalLabel">
    <div class="modal-dialog" id="important" role="document">
        <div class="modal-content">
            <div class="change-payment-textbox">
                <div class="modal-header text-center">
                    <div class="header-icon"><img src="/img/exclamation-smile-alt.svg"></div>
                    <h3 class="modal-title m-y-20" id="myModalLabel">Important</h3>
                </div>
                <div class="modal-body text-center body-lg">
                    <p>If there are less than 31 days in a particular month, we will collect payment on the last working day
                        of that month.</p>
                    <p>For example, if there are only 28 days in a month and the 28th falls on a Saturday, we will collect payment
                        on Friday 27th.</p>
                    <br>
                    <div class="m-y-20">
                        <p><strong>Do you wish to continue?</strong></p>
                    </div>
                </div>
                <div class="payment-navigation m-t-20">
                    <ul class="list-inline text-center">
                        <li><a class="btn btn-blue-hollow" id="change-payment-success">Continue</a></li>
                        <li><a class="color-white" id="close-modal">Cancel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>