<div class="header">
    <h2 id="modals">
        Modal Overlays
    </h2>
</div>

<button type="button" class="btn btn-primary btn-showcase" data-toggle="modal" data-target="#TableTest">
  Overlay (Table)
    </button>

    <pre><code class="html">&lt;div class=&quot;modal fade&quot; id=&quot;TableTest&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content modal-table&quot;&gt;
            &lt;div class=&quot;modal-header theme-light text-center&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                  &amp;#10060&lt;/button&gt;
                &lt;h3 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;...&lt;br&gt;...&lt;/h3&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body theme-default&quot;&gt;
                &lt;table class=&quot;table table-striped&quot;&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>



<button type="button" class="btn btn-primary btn-showcase" data-toggle="modal" data-target="#ListTest">
  Overlay (Full Width List)
    </button>

    <pre><code class="html">&lt;div class=&quot;modal fade&quot; id=&quot;TableTest&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content modal-table&quot;&gt;
            &lt;div class=&quot;modal-header theme-light text-center&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                  &amp;#10060&lt;/button&gt;
                &lt;h3 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;...&lt;br&gt;...&lt;/h3&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body theme-default&quot;&gt;
                &lt;table class=&quot;table table-striped&quot;&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;&lt;/th&gt;
                            &lt;td&gt;...&lt;/td&gt;
                            &lt;td&gt;...&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

<div class="modal fade" id="TableTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-table">
            <div class="modal-header theme-light text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  &#10060</button>
                <h3 class="modal-title" id="myModalLabel">Table Test<br>Lorem</h3>
            </div>
            <div class="modal-body theme-default">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>Lorem</td>
                            <td>Ipsum</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Lorem</td>
                            <td>Ipsum</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Lorem</td>
                            <td>Ipsum</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Lorem</td>
                            <td>Ipsum</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Lorem</td>
                            <td>Ipsum</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Lorem</td>
                            <td>Ipsum</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ListTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header theme-light text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  &#10060</button>
                <h3 class="modal-title" id="myModalLabel">Full Width List Test</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="modal-body theme-default">

                <div class="full-width-list text-center">
                    <ul>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">ipsum</a></li>
                        <li><a href="#">dolor</a></li>
                        <li><a href="#">sit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>