<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu"> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
			<a class="navbar-brand" href="#">
				<img alt="Brand" src="/img/oakbrook-finance-16x16.png" />
			</a>
			<a class="navbar-brand">
                Oakbrook Style Guide
            </a>
		</div>
		<div class="collapse navbar-collapse" id="main-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#colours">Colours</a></li>
						<li><a href="#headings">Headings </a></li>
						<li><a href="#body-copy">Body</a></li>
						<li><a href="#links">Link</a></li>
						<li><a href="#forms">Forms</a></li>
						<li><a href="#buttons">Button</a></li>
						<li><a href="#panels">Panels</a></li>
						<li><a href="#grid">Grid</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>