<nav class="navbar-off-canvas">
    <div class="navbar navbar-relative-top navbar-fixed-top">
        <div class="navbar-circle">
        </div>
        <a href="example-summary.html">
            <div class="navbar-logo">
                <img src="/img/LikelyLoansWhite.svg">
            </div>
        </a>
        <div class="nav">
            <ul class="nav col-xs-6">
                <div id="navbar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </ul>
            <ul class="nav col-xs-6">
                <li><button type="button" class="btn btn-primary-3 navbar-btn btn-sign-out body-md">Sign out</button></li>
                <li><button type="button" class="btn btn-primary-3 navbar-btn btn-username body-md" onClick="location.href='example-profile.html'">Hello <span>Daniel Humenko</span></button></li>
            </ul>
        </div>
    </div>
    <div class="off-canvas"></div>
</nav>
