<nav class="navbar-off-canvas">
    <div class="navbar navbar-relative-top navbar-fixed-top">
        <div class="navbar-circle">
        </div>
        <a href="example-summary.html">
            <div class="navbar-logo">
                <img src="/img/LikelyLoansWhite.svg">
            </div>
        </a>
        <div class="nav">
            <ul class="nav col-xs-6 col-xs-offset-6">
                <li><button type="button" class="btn btn-primary-3 navbar-btn btn-sign-out body-md">Sign out</button></li>
                <li><button type="button" class="btn btn-primary-3 navbar-btn btn-username body-md" onClick="location.href='example-profile.html'">Hello <span>Daniel Humenko</span></button></li>
            </ul>
        </div>
    </div>
    <div class="off-canvas">
        <div id="navbar-icon" class="m-l-20">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="bg-blue clearfix">
            <div class="off-canvas-top p-20">
                <div class="off-canvas-personal-details">
                    <div class="pull-right">
                        <p class="text-right">
                            <a href="#"><i class="fa fa-3x icon-profile-alt color-white"></i></a>
                        </p>
                        <p class="color-white font-lg">Daniel Humenko</p>
                        <p class="text-right">
                            <span class="color-white font-sm underline">
                                <a href="#"><i class="fa fa-pencil fa color-white"></i></a>
                                Edit my details
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="off-canvas-bottom">

        </div>
    </div>
</nav>
<div class="mask"></div>
