<div id="sidebar-wrapper">
	<ul class="nav nav-stacked">
		<li class="sidebar-logo"></li>
		<li class="navbar-brand">
			Styleguide
			</a>
		</li>
		<li class="active"><a href="#introduction" data-toggle="collapse">Introduction</a></li>
		<div class="collapse" id="introduction">
			<ul class="sidebar-list">
				<li><a href="#outline">Outine</a></li>
				<li><a href="#principles">Principles</a></li>
			</ul>
		</div>
		<li><a href="#design" data-toggle="collapse">Design</a></li>
		<div class="collapse" id="design">
			<ul class="sidebar-list">
				<li><a href="#typography">Typography</a></li>
				<li><a href="#body">Body</a></li>
				<li><a href="#body-lead">Lead Body</a></li>
				<li><a href="#quote">Quote</a></li>
				<li><a href="#lists">Lists</a></li>
				<li><a href="#colour-palette">Colour Palette</a></li>
				<li><a href="#colour-hue">Colour Hue</a></li>
			</ul>
		</div>
		<li><a href="#components" data-toggle="collapse">Components</a></li>
		<div class="collapse" id="components">
			<ul class="sidebar-list">
				<li><a href="#forms">Forms</a></li>
				<li><a href="#buttons">Buttons</a></li>
				<li><a href="#panels">Panels</a></li>
				<li><a href="#tables">Tables</a></li>
				<li><a href="#wells">Wells</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#grid">Grid</a></li>
			</ul>
		</div>
		<li><a href="#resources" data-toggle="collapse">Resources</a></li>
		<div class="collapse" id="resources">
			<ul class="sidebar-list">
				<li><a href="#logos">Logos</a></li>
				<li><a href="#badges">Badges</a></li>
				<li><a href="#icons">Icons</a></li>
			</ul>
		</div>
	</ul>
</div>