<div class="header">
<h2 id="navbar">
    Navbar
</h2>
</div>

<div class="section-container">
    <nav class="navbar">
        <div class="navbar-circle">
        </div>
        <div class="navbar-logo">
            <img src="/img/LikelyLoans.svg">
        </div>
        <div class="nav">
            <ul class="nav col-xs-6">
                <div id="navbar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </ul>
            <ul class="nav col-xs-6">
                <!--<li><button type="button" class="btn btn-primary-2 navbar-btn btn-application">Continue your application</button></li>-->
                <li><button type="button" class="btn btn-primary-3 navbar-btn btn-sign-in">Sign in</button></li>
            </ul>
        </div>
    </nav>
</div>
<hr>