<nav class="navbar-off-canvas">
  <div class="navbar navbar-relative-top navbar-fixed-top">
    <div class="navbar-circle">
    </div>
    <a href="example-summary.html">
      <div class="navbar-logo">
        <img src="/img/LikelyLoansWhite.svg">
      </div>
    </a>
    <div class="nav">
      <ul class="nav col-xs-6 col-xs-offset-6">
        <li><button type="button" class="btn btn-primary-3 navbar-btn btn-sign-out body-md">Sign out</button></li>
        <li><button type="button" class="btn btn-primary-3 navbar-btn btn-username body-md" onClick="location.href='example-profile.html'">Hello <span>Daniel Humenko</span></button></li>
      </ul>
    </div>
  </div>
  <div id="navbar-icon" class="m-l-20">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="off-canvas bg-white">
    <div class="bg-blue clearfix">
      <div class="off-canvas-top p-20">
        <div class="off-canvas-personal-details color-white">
          <div class="text-right">
            <p class="text-right">
              <a href="#"><i class="fa fa-3x icon-profile-alt color-white"></i></a>
            </p>
            <p class="font-lg">Daniel Humenko</p>
            <p class="text-right">
              <span class="font-sm underline">
                <a href="#"><i class="fa fa-pencil fa color-white"></i></a>
                Edit my details
              </span>
            </p>
          </div>
        </div>
        <a id="previous-loan-selector" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div class="off-canvas-loan-details">
            <div class="p-b-10">
              <p class="font-lg"><strong>Loan 3</strong></p>
              <p class="font-sm">Outstanding balance<span class="p-b-10 pull-right">
                <i class="fa-lg fa fa-caret-down color-white"></i>
              </span></p>
              <p class="font-lg"><strong>&#163;1648.23</strong></p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="bg-white cleafix">
      <div class="previous-loan-details collapse" id="collapseExample">
        <ul class="list-unstyled">
          <li>
            <div class="off-canvas-loan-details color-blue p-20">
              <div class="p-b-10">
                <p class="font-lg"><strong>Loan 2 <span class="font-sm">(Settled in full)</span></strong></p>
                <p class="font-sm">Outstanding balance<span class="p-b-10 pull-right"></span></p>
                <p class="font-lg"><strong>&#163;0</strong></p>
              </div>
            </div>
          </li>
          <li>
            <div class="off-canvas-loan-details color-blue p-20">
              <div class="p-b-10">
                <p class="font-lg"><strong>Loan 1 <span class="font-sm">(Settled in full)</span></strong></p>
                <p class="font-sm">Outstanding balance<span class="p-b-10 pull-right"></span></p>
                <p class="font-lg"><strong>&#163;0</strong></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="off-canvas-bottom p-t-10">
        <div class="off-canvas-scrollable">
          <ul class="list-unstyled font-md color-blue p-20">
            <li><a href="#" class="active"><i class="fa icon-document"></i>Summary</a></li>
            <li><a href="#"><i class="fa icon-folder"></i>Document</a></li>
            <li><a href="#"><i class="fa icon-payment"></i>Payments</a></li>
            <li><a href="#"><i class="fa icon-tick-circle"></i>Credit Score</a></li>
            <li><a href="#"><i class="fa icon-calculator"></i>Borrow More</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="off-canvas-bottom">
    </div>
  </div>
</nav>
<div class="mask"></div>