<h2 id="panels">
    Panels
</h2>

<div class="ob-example">
    <div class="panel panel-default">
        <div class="panel-body">
            This is a panel
        </div>
    </div>
</div>

<pre><code class="html">&lt;div class=&quot;panel panel-default&quot;&gt;
  &lt;div class=&quot;panel-body&quot;&gt;
    Basic panel example
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id="panels">
    Panels with Headings
</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<pre><code class="html">&lt;div class=&quot;panel panel-default&quot;&gt;
  &lt;div class=&quot;panel-heading&quot;&gt;Panel heading without title&lt;/div&gt;
  &lt;div class=&quot;panel-body&quot;&gt;
    Panel content
  &lt;/div&gt;
&lt;/div&gt;
 
&lt;div class=&quot;panel panel-default&quot;&gt;
  &lt;div class=&quot;panel-heading&quot;&gt;
    &lt;h3 class=&quot;panel-title&quot;&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;panel-body&quot;&gt;
    Panel content
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id="panels">
    Secondary panel
</h2>

<div class="panel-secondary-group">
  <div class="panel-secondary clearfix">
    <div class="vcenter">
      <span class="copy">Pre-contract credit information</span>
      <span class="panel-btn"><button class="btn btn-secondary-1">View</button></span>
    </div>
  </div>
  <div class="panel-secondary clearfix">
    <span class="copy">Loans terms and condition</span>
    <span class="panel-btn"><button class="btn btn-secondary-1">View</button></span>
  </div>
  <div class="panel-secondary clearfix">
    <div class="vcenter">
      <span class="copy">Fixed Sum Loan Agreement regulated by the Consumer Credit Act 1974</span>
      <span class="panel-btn"><button class="btn btn-secondary-1">View</button></span>
    </div>
  </div>
</div>

<hr>