<div class="panel-group" id="PanelAddress" role="tablist" aria-multiselectable="true">
    <div class="panel ob-panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-btn pull-right">
                <a class="btn btn-black-hollow" data-toggle="collapse" data-parent="#PanelAddress" href="#PanelAddressEdit" id="PanelAddressToggle">Change</a>
                <a data-toggle="collapse" data-parent="#PanelAddress" href="#PanelAddressEdit" id="PanelAddressToggleMob"><i class="fa fa-pencil fa fa-lg"></i></a>
            </div>
            <h4 class="panel-title">
                Current address
            </h4>
            <hr class="dash">
        </div>
        <div class="panel-collapse collapse in" id="PanelAddressHeader">
            <div class="panel-body">
                <strong>45 Wollaton Street</strong>, Nottingham, NG1 5FW
            </div>
        </div>
        <div id="PanelAddressEdit" class="panel-collapse collapse">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in nesciunt perferendis doloremque ipsam, nemo, cumque
                perspiciatis praesentium provident fugiat magni nobis porro molestias minus blanditiis explicabo sed, saepe
                dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eius molestiae iste ducimus nobis
                enim nam nisi, recusandae quam, quo hic ab sit pariatur, beatae distinctio alias suscipit blanditiis doloribus!
            </div>
        </div>
    </div>
    <div class="panel ob-panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-btn pull-right">
                <a class="btn btn-black-hollow" data-toggle="collapse" data-parent="#PanelContact" href="#PanelContactEdit" id="PanelContactToggle">Change</a>
                <a data-toggle="collapse" data-parent="#PanelContact" href="#PanelContactEdit" id="PanelContactToggleMob"><i class="fa fa-pencil fa fa-lg"></i></a>
            </div>
            <h4 class="panel-title">
                Contact numbers
            </h4>
            <hr class="dash">
        </div>
        <div class="panel-collapse collapse in" id="PanelContactHeader">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><i class="fa icon-phone fa-lg"></i> Home: <strong>01551 1231234</strong></li>
                    <li><i class="fa icon-mobile fa-lg"></i> Mobile: <strong>07712345678</strong></li>
                    <li><i class="fa fa-building-o fa-lg"></i> Work: <strong>0111 1234562</strong></li>
                </ul>
            </div>
        </div>
        <div id="PanelContactEdit" class="panel-collapse collapse">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in nesciunt perferendis doloremque ipsam, nemo, cumque
                perspiciatis praesentium provident fugiat magni nobis porro molestias minus blanditiis explicabo sed, saepe
                dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eius molestiae iste ducimus nobis
                enim nam nisi, recusandae quam, quo hic ab sit pariatur, beatae distinctio alias suscipit blanditiis doloribus!
            </div>
        </div>
    </div>
    <div class="panel ob-panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-btn pull-right">
                <a class="btn btn-black-hollow" data-toggle="collapse" data-parent="#PanelEmail" href="#PanelEmailEdit" id="PanelEmailToggle">Change</a>
                <a data-toggle="collapse" data-parent="#PanelEmail" href="#PanelEmailEdit" id="PanelEmailToggleMob"><i class="fa fa-pencil fa fa-lg"></i></a>
            </div>
            <h4 class="panel-title">
                Email address
            </h4>
            <hr class="dash">
        </div>
        <div class="panel-collapse collapse in" id="PanelEmailHeader">
            <div class="panel-body">
                <strong>danielhumenko@gmail.com</strong>
            </div>
        </div>
        <div id="PanelEmailEdit" class="panel-collapse collapse">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in nesciunt perferendis doloremque ipsam, nemo, cumque
                perspiciatis praesentium provident fugiat magni nobis porro molestias minus blanditiis explicabo sed, saepe
                dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eius molestiae iste ducimus nobis
                enim nam nisi, recusandae quam, quo hic ab sit pariatur, beatae distinctio alias suscipit blanditiis doloribus!
            </div>
        </div>
    </div>