<div class="col-md-4 col-xs-12 col-md-offset-6 bg-white">
	<h4 class="m-t-20">Loan term</h4>
	<div class="radio-buttons-wrapper">
		<div class="radio-container p-r-10">
			<input type="radio" name="LoanTerm" value="12">
			<label class="btn-radio p-t-20">
				<div class="btn-radio-num">12</div>
				<div class="btn-radio-copy">Months</div>
			</label>
		</div>
		<div class="radio-container p-r-10">
			<input type="radio" name="LoanTerm" value="18">
			<label class="btn-radio p-t-20">
				<div class="btn-radio-num">18</div>
				<div class="btn-radio-copy">Months</div>
			</label>
		</div>
		<div class="radio-container p-r-10">
			<input type="radio" name="LoanTerm" value="24">
			<label class="btn-radio p-t-20">
				<div class="btn-radio-num">24</div>
				<div class="btn-radio-copy">Months</div>
			</label>
		</div>
<!-- 		<div class="radio-container p-r-10">
			<input type="radio" name="LoanTerm" value="30">
			<label class="btn-radio p-t-20">
				<span>30</span>
			</label>
		</div>
		<div class="radio-container p-r-10">
			<input type="radio" name="LoanTerm" value="36">
			<label class="btn-radio p-t-20">
				<span>36</span>
			</label>
		</div> -->
	</div>
</div>
