<div class="col-md-4 col-xs-12 col-md-offset-6 bg-white">
	<h4 class="m-t-20">Loan term</h4>
	<div class="radio-buttons-wrapper">
		<div class="radio-container btn-extra term-hidden">
			<div class="m-r-10">
				<input type="radio" name="LoanTerm" value="30">
				<label class="btn btn-radio p-t-20">
					<div class="btn-radio-num">30</div>
					<div class="btn-radio-copy">Months</div>
					<i class="fa fa-check color-white"></i>
				</label>
			</div>
		</div>
		<div class="radio-container">
			<div class="m-r-10">
				<input type="radio" name="LoanTerm" value="12">
				<label class="btn btn-radio p-t-20 checked">
					<div class="btn-radio-num">12</div>
					<div class="btn-radio-copy">Months</div>
					<i class="fa fa-check color-white"></i>
				</label>
			</div>
		</div>
		<div class="radio-container">
			<div class="m-r-10">
				<input type="radio" name="LoanTerm" value="18">
				<label class="btn btn-radio p-t-20">
					<div class="btn-radio-num">18</div>
					<div class="btn-radio-copy">Months</div>
					<i class="fa fa-check color-white"></i>
				</label>
			</div>
		</div>
		<div class="radio-container">
			<div class="m-r-10">
				<input type="radio" name="LoanTerm" value="24">
				<label class="btn btn-radio p-t-20">
					<div class="btn-radio-num">24</div>
					<div class="btn-radio-copy">Months</div>
					<i class="fa fa-check color-white"></i>
				</label>		
			</div>
		</div>
	</div>
	<button class="btn" id="addBtn">Add button</button>
</div>

<script type="text/javascript">

	(function checkJquery() {
		if(window.$) {
			$(function() {
				// Radio button click handler
				$('.btn-radio').click(function() {
					$(this).toggleClass('checked');
				});
				// Add button click handler
				var addState = false; 
				$('#addBtn').click(function() {
					if (!addState) {
						$('#addBtn').text('Remove button');
					} else {
						$('#addBtn').text('Add button');
					}
					addState = !addState;
					$('.btn-extra').toggleClass('term-hidden');
				});
			});
		} else {
			setTimeout(checkJquery,100);
		}
	})();

</script>
