<div class="recent-history-timeline">
    <ul class="timeline">
        <li class="timeline-line">
            <div class="timeline-point"></div>
            <hr class="timeline-dash">
            <ul class="list-unstyled v-center">
                    <li><div class="medium">16th September</div></li>
                    <li><div class="large">£133<span class="medium">.70</span></div></li>
                    <li><div class="small bg-beige"><i class="fa fa-money fa-1x"></i>Payment</div></li>
            </ul>
        </li>
        <li class="timeline-line">
            <div class="timeline-point"></div>
            <hr class="timeline-dash">
                        <ul class="list-unstyled v-center">
                    <li><div class="medium">16th August</div></li>
                    <li><div class="large">£133<span class="medium">.70</span></div></li>
                    <li><div class="small bg-beige"><i class="fa fa-money fa-1x"></i>Payment</div></li>
            </ul>
        </li>
        <li class="timeline-line">
            <div class="timeline-point"></div>
            <hr class="timeline-dash">
                        <ul class="list-unstyled v-center">
                    <li><div class="medium">16th July</div></li>
                    <li><div class="large">£133<span class="medium">.70</span></div></li>
                    <li><div class="small bg-beige"><i class="fa fa-money fa-1x"></i>Payment</div></li>
            </ul>
        </li>
    </ul>
</div>
<!--<div class="recent-history-timeline">
            <div class="timeline-circle">
            </div>
            <div class="timeline">
            </div>
            <div class="timeline-circle">
            </div>
            <div class="timeline">
            </div>
            <div class="timeline-circle">
            </div>
        </div>-->
<!--<div class="col-xs-8 text-center">
        <ul>
            <li>
                <div class="recent-history-textbox textbox-yellow">
                    <hr class="dash">
                    <div class="v-center">
                        <span class="body-sm">Direct Debit</span>
                        <div class="large">£133<span class="body-md">.70</span></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="recent-history-textbox textbox-yellow">
                    <hr class="dash">
                    <div class="v-center">
                        <span class="body-sm">Direct Debit</span>
                        <div class="large">£133<span class="body-md">.70</span></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="recent-history-textbox textbox-yellow">
                    <hr class="dash">
                    <div class="v-center">
                        <span class="body-sm">Direct Debit</span>
                        <div class="large">£133<span class="body-md">.70</span></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>-->