<div class="header">
    <h3 id="full-width-panel">
        Full Width Panel
    </h3>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="panel-beige">
            <p class="lead">After this payment has been made, you will have <span>9</span> payments remaining.</p>
        </div>
    </div>
</div>

<pre><code class="html">&lt;div class=&quot;panel-beige&quot;&gt;
    &lt;p class=&quot;lead&quot;&gt;...&lt;span&gt;...&lt;/span&gt;...&lt;/p&gt;
&lt;/div&gt;</code></pre>

<hr>