<div id="sidebar-wrapper" class="sidebar">
	<ul class="nav nav-stacked">
		<div class="sidebar-logo"><img src="/img/LikelyLoansNav.svg"></div>
		<!--<li class="active"><a href="#introduction" data-toggle="collapse">Introduction</a></li>
		<div class="collapse" id="introduction">
			<ul class="sidebar-list">
				<li><a href="#outline">Outine</a></li>
				<li><a href="#principles">Principles</a></li>
			</ul>
		</div>-->
		<li><a href="#design" data-toggle="collapse">Design</a></li>
		<div class="collapse" id="design">
			<ul class="sidebar-list">
				<!--<li><a href="#logo">Logo</a></li> -->
				<li><a href="#colour-palette">Colour Palette</a></li>
				<!--<li><a href="#colour-hue">Colour Hue</a></li>-->
				<li><a href="#typefaces">Typefaces</a></li>
				<!--<li><a href="#iconography">Iconography</a></li>-->
				<!--<li><a href="#styling">Styling</a></li>-->
				<!--<li><a href="#expressions">Expressions</a></li>-->
				<!--<li><a href="#tone-of-voice">Tone of Voice</a></li>-->
			</ul>
		</div>
		<li><a href="#components" data-toggle="collapse">Components</a></li>
		<div class="collapse" id="components">
			<ul class="sidebar-list">
				<li><a href="#forms">Forms</a></li>
				<li><a href="#buttons">Buttons</a></li>
				<li><a href="#panels">Panels</a></li>
				<li><a href="#tables">Tables</a></li>
				<li><a href="#wells">Wells</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#grid">Grid</a></li>
				<li><a href="#auth0">Auth0 Login</a></li>
				<li><a href="#navbar">Navbar</a></li>
				<li><a href="#footer">Footer</a></li>
				<li><a href="#loader">Loader</a></li>
				<li><a href="#modals">Modals</a></li>
				<li><a href="#full-width-panel">Full Width Panel</a></li>
			</ul>
		</div>
		<li><a href="#templates" data-toggle="collapse">Templates</a></li>
		<div class="collapse" id="templates">
			<ul class="sidebar-list">
				<li><a href="example-summary.html" target="_blank">Account Summary</a></li>
				<li><a href="example-personal.html" target="_blank">Personal Settings</a></li>
				<li><a href="example-documents.html" target="_blank">Documents</a></li>
				<li><a href="example-payments.html" target="_blank">Payments</a></li>
			</ul>
		</div>
		<!--<li><a href="#resources" data-toggle="collapse">Resources</a></li>
		<div class="collapse" id="resources">
			<ul class="sidebar-list">
				<li><a href="#logos">Logos</a></li>
				<li><a href="#badges">Badges</a></li>
				<li><a href="#icons">Icons</a></li>
			</ul>
		</div>-->
	</ul>
</div>