<div class="splash-screen-container">
    <div class="splash-screen-main">
        <div class="splash-screen-logo">
            <!--<img alt="LikelyLoans" src="/img/LikelyLoans.png" />-->
        </div>
        <div class="splash-screen-header theme-dark">
            <h1>Likely Loans</h1>
            <h2>Styleguide</h2>
            <hr class="splash-screen-hr">
        </div>
    </div>
                <div class="theme-dark splash-screen-arrow"><i class="fa fa-arrow-down fa-2x"></i></div>
</div>