<!--<div class="header">
    <h2 id="styling">
        Photography
    </h2>
</div>
<div class="header">
    <h3 id="styling">
        Styling
    </h3>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="photography-placeholder">
        </div>
    </div>
    <div class="col-md-3">
        <div class="photography-placeholder">
        </div>
    </div>
    <div class="col-md-4">
        <div class="photography-placeholder">
        </div>
    </div>
    <div class="col-md-3">
        <div class="photography-placeholder">
        </div>
    </div>
</div>
<div class="row">
    <div class="photography-header text-center">
        <li><p>Styling |</p></li>
        <li><p>Styling |</p></li>
        <li><p>Styling |</p></li>
        <li><p>Styling</p></li>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="photography-placeholder">
        </div>
    </div>
    <div class="col-md-5">
        <div class="photography-placeholder">
        </div>
    </div>
    <div class="col-md-3">
        <div class="photography-placeholder">
        </div>
    </div>
</div>
<hr class="invisible-hr">-->