<div class="header">
    <h2 id="summary">
        Summary Sections
    </h2>
</div>


<div class="row">
    <div class="col-xs-12 text-center">
        <div class="circle-primary">
            <div class="circle-inner">
                <div class="circle-amount">
                    <p>£1000</p>
                </div>
            </div>
        </div>
        <div class="circle-secondary">
            <div class="circle-inner">

                <div class="circle-amount">
                    <p>£100.<span>46</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>