<h2 id="tables">
    Tables
</h2>

<h3>Basic Example</h3>

<p>For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.</p>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Example</th>
            <th>Second Example</th>
            <th>Third Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>Consectetur</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adipisicing</td>
            <td>Elit</td>
            <td>Dicta</td>
        </tr>
    </tbody>
</table>

<h3>Striped Rows</h3>

<p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;table&gt;</code>.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>First Example</th>
            <th>Second Example</th>
            <th>Third Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>Consectetur</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adipisicing</td>
            <td>Elit</td>
            <td>Dicta</td>
        </tr>
    </tbody>
</table>

<h3>Bordered Table</h3>

<p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>First Example</th>
            <th>Second Example</th>
            <th>Third Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>Consectetur</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adipisicing</td>
            <td>Elit</td>
            <td>Dicta</td>
        </tr>
    </tbody>
</table>

<h3>Hover Rows</h3>

Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;table&gt;</code>.

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>First Example</th>
            <th>Second Example</th>
            <th>Third Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>Consectetur</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adipisicing</td>
            <td>Elit</td>
            <td>Dicta</td>
        </tr>
    </tbody>
</table>


<hr> 