<div class="payment-textbox m-t-20">
    <div class="row">
        <div class="col-md-12">
            <div class="small title m-t-20">
                Next payment due
            </div>
            <hr class="dash">
            <div class="m-y-10">
                <span class="x-large">8</span> <span class="large m-l--5">th September 2016</span>
            </div>
            <a class="btn btn-black-hollow m-b-20" data-toggle="modal" href="#change-payment-day">Change payment day</a>
        </div>
    </div>
    <hr class="dotted-line">
    <div class="row">
        <div class="col-md-5">
            <div class="small title m-t-10">
                Payment amount
            </div>
            <hr class="dash">
            <div class="m-y-10">
                <span class="x-large">£133.</span> <span class="large">70</span>
            </div>
            <a class="btn btn-black-hollow m-b-20" data-toggle="modal" href="#MakePayment">Make a payment</a>
        </div>
    </div>
</div>