<div class="toast toast-generic" id="toast-generic">
    <a class="close" id="toast-close"><i class="fa icon-cross fa-1x"></i></a>
    <div class="row toast-container">
        <div class="col-sm-10 toast-body">
                <p class="body-lg"><strong>Hello Stuart</strong></p>
                <p class="body-sm color-grey">You have been pre-approved to top up your loan. Borrow an additional £1000 to £2000on top of your current balance of £1648.23.</p>
                <button class="btn btn-primary-1 dynamic-width-btn">Find out more</button>
        </div>
    </div>
</div>