<div class="toast toast-success invisible" id="toast-successful">
    <a class="close" id="toast-close"><i class="fa icon-close fa-3x"></i></a>
    <div class="m-t-20">
        <div class="media">
            <div class="media-left">
                <a><i class="icon-tick fa fa-2x"></a>
            </div>
            <div class="media-body">
                <p class="body-lg media-heading"><strong>Your payment day request has been submitted</strong></p>
                <p class="body-sm">Your current payment day will change to the Nth of each month from .... We will confirm this change by email shortly.</p>
            </div>
        </div>
    </div>
</div>