<div class="toast toast-success" id="toast-successful">
    <a class="close" id="toast-close"><i class="fa icon-cross fa-1x"></i></a>
    <div class="row toast-container">
        <div class="col-sm-2 toast-icon">
            <i class="icon-tick-circle fa fa-2x"></i>
        </div>
        <div class="col-sm-10 toast-body">
                <p class="body-lg"><strong>Your payment day request has been submitted</strong></p>
                <p class="body-sm">Your current payment day will change to the Nth of each month from .... We will confirm this change by email shortly.</p>
        </div>
    </div>
</div>