<div class="header">
    <h3 id="full-width-panel">
        Updated Buttons
    </h3>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="ob-card ob-card-white">
            <button class="ob-btn full-width-btn btn-green">
                <i class="fa fa-caret-right pull-right"></i>
                    Continue
                </button>
            <br>
            <br>
            <button class="ob-btn text-center full-width-btn btn-green">
                    Submit
                </button>
        </div>
        <br>
        <div class="ob-card ob-card-white">
            <button class="ob-btn ob-btn-sm full-width-btn btn-outline-blue" data-toggle="modal" data-target="#myModal">
                <span class="pull-right">View</span>
                    Lorem Ipsum
                </button>
        </div>
    </div>
</div>
<div class="modal up ob-modal modal-document" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="pull-right print">
                    Print
                    <span class="icon-box pull-right">
                        <i class="fa fa-lg fa-print" aria-hidden="true"></i>
                    </span>
                </button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa icon-cross fa-lg"></i></button>
            </div>
            <div class="ob-modal-body">
                <h1>Lorem ipsum dolor sit</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore
                amet quas sint, minima vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus.
                <ol class="list-unstyled">
                    <li class="ob-list-header">
                        <h3>Lorem Ipsum</h3>
                        <ol class="p-l-20">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus. >Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic error fugiat
                                iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores numquam,
                                mollitia facilis temporibus.</li>
                        </ol>
                    </li>
                    <li class="ob-list-header">
                        <h3>Lorem Ipsum</h3>
                        <ol class="p-l-20">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus. >Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic error fugiat
                                iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores numquam,
                                mollitia facilis temporibus.</li>
                        </ol>
                    </li>
                    <li class="ob-list-header">
                        <h3>Lorem Ipsum</h3>
                        <ol class="p-l-20">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus. >Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic error fugiat
                                iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores numquam,
                                mollitia facilis temporibus.</li>
                        </ol>
                    </li>
                    <li class="ob-list-header">
                        <h3>Lorem Ipsum</h3>
                        <ol class="p-l-20">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic
                                error fugiat iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores
                                numquam, mollitia facilis temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Dolore, consectetur? Eveniet et hic error fugiat iusto inventore amet quas sint, minima
                                vitae accusamus deserunt laborum dolores numquam, mollitia facilis temporibus. >Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Dolore, consectetur? Eveniet et hic error fugiat
                                iusto inventore amet quas sint, minima vitae accusamus deserunt laborum dolores numquam,
                                mollitia facilis temporibus.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<hr>