<div class="modal up" id="important-2" tabindex="-1" data-focus-on="input:first" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <div class="modal-header text-center color-blue">
                    <div class="header-icon"><img src="/img/email-smile.svg"></div>
                    <h3 class="modal-title m-y-20" id="myModalLabel">Top-up loan offers</h3>
                </div>
                <div class="modal-body text-center body-lg">
                    <p>Would you like to be kept informed about any top up loan offers you may be eligible for in the future?</p>
                </div>
                <div class="modal-fixed-bottom-list text-center m-y-10 p-x-10">
                    <button class="ob-btn ob-btn-sm text-center full-width-btn-sm btn-blue">
                        Yes please keep me informed
                    </button>
                    <div class="m-y-20 text-center"><a id="close-modal">No thanks</a></div>
<!--                     <ul class="list-inline text-center">
                        <li><a class="btn btn-primary-1">Yes please keep me informed</a></li>

                        <li class="p-y-10"><a id="close-modal">No thanks</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>