<div class="modal up" id="important-1" tabindex="-1" data-focus-on="input:first" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <div class="modal-header text-center color-blue">
                    <h3 class="modal-title m-y-20" id="myModalLabel">Title</h3>
                </div>
                <div class="modal-body text-center body-lg">
                    <p>Explanation of loan account closing and a new loan account opened.</p>
                </div>
                <div class="modal-fixed-bottom-list m-y-10 p-x-10">
                    <button class="ob-btn ob-btn-sm text-center full-width-btn btn-blue">
                        Ok, got it
                    </button>
<!--                     <ul class="list-inline text-center">
                        <li><a class="btn btn-primary-1" id="change-payment-success">Ok, got it</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>