<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />

        <title>Oakbrook Style Guide</title>
        
        <link href="/css/likelyloans.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
    </head>
    <body>
        {{> navbar }}

        {{> body}}
        <script src="/js/oakbrookstyleguide.min.js"></script>
    </body>
</html>